<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{masterTPABenefits.Title}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="subscriptionForm">
                            <div class="row">
                                <div class="col-md-4 mt-2">
                                    <mat-label>{{addMasterTPABenefits.Subscription_Type.displayname}}</mat-label>
                                </div>
                                <div class="col-md-5 mt-2">
                                    <mat-radio-group aria-label="Select an option"
                                        (change)="onSubscriptionTypeChange($event)">
                                        <mat-radio-button value="1" [checked]="subChecked">
                                            {{addMasterTPABenefits.Subscription_Type.option.option1 | uppercase}}
                                        </mat-radio-button>
                                        <mat-radio-button value="2" class="pl-3" [checked]="pycChecked">
                                            {{addMasterTPABenefits.Subscription_Type.option.option2 | uppercase}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <ng-container *ngIf="sub">
                                    <div class="col-md-4 mt-3">
                                        <mat-label>{{addMasterTPABenefits.Flat_Fee.displayname}}</mat-label>
                                    </div>
                                    <div class="col-md-5 mt-3">
                                        <mat-form-field>
                                            <input type="number" name="flatFee" id="flat"
                                                [placeholder]="addMasterTPABenefits.Flat_Fee.placeHolder" matInput
                                                formControlName="Flat_Fee" />
                                            <mat-error *ngIf="subscription.Flat_Fee.touched">
                                                <span *ngIf="subscription.Flat_Fee.errors?.flat">
                                                    Flat Fee must be greater than 0
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="!sub">
                                    <div class="col-md-4 mt-3">
                                        <mat-label>{{addMasterTPABenefits.Service_Fee.displayname}}</mat-label>
                                    </div>
                                    <div class="col-md-5 mt-3">
                                        <mat-form-field>
                                            <input type="number" name="serviceFee" id="Service"
                                                [placeholder]="addMasterTPABenefits.Service_Fee.placeHolder" matInput
                                                formControlName="Service_Fee">
                                            <mat-error *ngIf="subscriptionForm.get('Service_Fee').touched">
                                                <span *ngIf="subscriptionForm.get('Service_Fee').errors?.service">
                                                    Service Fee must between 0 to 100
                                                </span>
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </ng-container>


                            </div>
                        </form>
                        <div class="text-center mt-2">
                            <button type="submit" mat-raised-button color="primary"
                                (click)="saveMasterTPASubscription()">
                                Save
                            </button>
                            <button type="button" mat-raised-button color="accent" class="ml-3"
                                [routerLink]="['/dataManager/master-tpa']">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>