<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Company Name List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                <button mat-raised-button [routerLink]="['/company-profile/create']" color="primary">Add
                  Company</button>
              </div>
              <div class="mat-elevation-z8 mt-2">
                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                  [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                </mat-paginator>
                <table mat-table class="table table-bordered" style="width: 100%;" matSort aria-label="Elements"
                  [dataSource]="dataSource">
                  <!-- Id Column -->
                  <ng-container matColumnDef="Registration_No">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Registration Number </th>
                    <td mat-cell *matCellDef="let row"> {{row.Registration_No}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="Company_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.Company_Name}} </td>
                  </ng-container>


                  <ng-container matColumnDef="Registered_Date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Registered </th>
                    <td mat-cell *matCellDef="let row"> {{row.Registered_Date | date:"dd/MM/yyyy"}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Company_Code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </th>
                    <td mat-cell *matCellDef="let row"> {{row.Company_Code}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Contact_Person_1">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Person </th>
                    <td mat-cell *matCellDef="let row"> {{row.Contact_Person_1}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button mat-raised-button [routerLink]="['/company-profile',row.Company_ID]" type="button"
                          matTooltip="Edit" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button [routerLink]="['/company-profile/view',row.Company_ID]" type="button"
                          matTooltip="View" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">visibility</i>
                        </button>
                      </div>

                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>