<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="clinicsForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Clinic Type</mat-label>
                                        <input type="text" name="serviceType" id="service" matInput
                                            placeholder="Enter Clinic Type Name" formControlName="Clinic_Type_Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="Clinic_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>

                        <mat-card-actions class="col-md-10 text-center">
                            <div class="row">
                                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                                    (click)="addClinicTypes()" *ngIf="isDisabled">{{btntext}}</button>
                                <button mat-raised-button color="primary" [routerLink]="['/dataManager/clinicType']"
                                    style="margin-left: 15px;" type="submit">Back</button>
                            </div>
                        </mat-card-actions>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
        </div>
    </div>
</div>