<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Service Request</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <button mat-raised-button color="primary" [routerLink]="['/support/raise']"> Raise Request
                            </button>
                            <div class="mat-elevation-z8 mt-2">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>