<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="tpaBenefitsForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Benefit Name</mat-label>
                                        <input type="text" name="benefitName" id="benefitName"
                                            placeholder="Enter Benefit Name" matInput formControlName="Benefit_Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Model Type</mat-label>
                                        <mat-select formControlName="Model_Type">
                                            <mat-option [value]="'Subscription'">Subscription</mat-option>
                                            <mat-option [value]="'Value'">Value</mat-option>
                                            <mat-option [value]="'None'">None</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Claim Type</mat-label>
                                        <mat-select formControlName="Claim_Type">
                                            <mat-option [value]="'FLOAT'">Float</mat-option>
                                            <mat-option [value]="'PYC'">PYC</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Service Fee(%)</mat-label>
                                        <input type="number" name="servicefee" id="servicefee"
                                            placeholder="Enter Service Fee in Percentage" matInput
                                            formControlName="Service_Fee" min="0" max="100">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Flat Fee</mat-label>
                                        <input type="number" name="flatfee" id="flatfee" placeholder="Enter Flat Fee"
                                            matInput formControlName="Flat_Fee">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Invoice Frequency</mat-label>
                                        <mat-select formControlName="Invoice_Frequency">
                                            <mat-option [value]="'Weekly'">Weekly</mat-option>
                                            <mat-option [value]="'Bi-Weekly'">Bi-Weekly</mat-option>
                                            <mat-option [value]="'Monthly'">Monthly</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Invoice Day</mat-label>
                                        <input type="number" name="invoiceDay" id="invoiceDay"
                                            placeholder="Enter Day of Invoice" matInput formControlName="Invoice_Day"
                                            min="1" max="31">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Patient Discount</mat-label>
                                        <input type="number" name="flatfee" id="flatfee"
                                            placeholder="Enter Patient Discount" matInput
                                            formControlName="Patient_Discount">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Clinic Admin Fee(%)</mat-label>
                                        <input type="number" name="flatfee" id="flatfee"
                                            placeholder="Enter Admin Fee in Percentage" matInput
                                            formControlName="Clinic_Admin_Fee" min="0" max="100">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Start Date</mat-label>
                                        <input matInput [matDatepicker]="dp2" name="Effective_Date"
                                            formControlName="Start_Date">
                                        <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                        <mat-datepicker #dp2></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>End Date</mat-label>
                                        <input matInput [matDatepicker]="dp3" name="Exp_Date"
                                            formControlName="End_Date">
                                        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                                        <mat-datepicker #dp3></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <!-- <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Threshold Warning</mat-label>
                                        <input type="number" name="Warning" id="Warning"
                                            placeholder="Enter Threshold Warning" matInput
                                            formControlName="Threshold_Warning">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Threshold Stop</mat-label>
                                        <input type="number" name="stop" id="stop" placeholder="Enter Threshold Stop"
                                            matInput formControlName="Threshold_Hold">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>Threshold Hold</mat-label>
                                        <input type="number" name="Hold" id="Hold" placeholder="Enter Threshold Hold"
                                            matInput formControlName="Threshold_Stop">
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-select name="status" formControlName="Benefit_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <br />
                        <mat-card-actions class="col-md-10 text-center">
                            <div class="row">
                                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                                    *ngIf="isDisabled" (click)="saveTPABenefits()">{{btntext}}</button>
                                <button mat-raised-button color="primary" [routerLink]="['/benefitOption/tpabenefits']"
                                    style="margin-left: 15px;" type="submit">Back</button>
                            </div>
                        </mat-card-actions>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
        </div>
    </div>
</div>