<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form class="mt-3" [formGroup]="treatmentCodeClinics">
                            <div class="row">
                                <div class="col-md-4 mt-3">
                                    <mat-label>Clinic</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select name="clinic" formControlName="Clinic_ID">
                                            <mat-option *ngFor="let clinic of clinicsList" [value]="clinic.Clinic_ID">
                                                {{clinic.Clinic_Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <mat-label>Treatment Code</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select name="tratementcode" formControlName="Treatment_Code_ID"
                                            (selectionChange)="onTreatmentCodeSelect($event)">
                                            <mat-option *ngFor="let code of treatmentCodeList"
                                                [value]="code.Treatment_Code_ID">
                                                {{code.Treatment_Code}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <mat-label>Rate</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput placeholder="Enter Rate" formControlName="Treatment_Rate">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <mat-label>Start Date</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="startpicker" placeholder="Choose Start Date"
                                            formControlName="Start_Date">
                                        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
                                        <mat-datepicker #startpicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <mat-label>End Date</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="endpicker" placeholder="Choose End Date"
                                            formControlName="End_Date">
                                        <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
                                        <mat-datepicker #endpicker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <mat-label>Status</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select name="status" formControlName="Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <mat-label>Remarks</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Enter Remarks" formControlName="Remarks"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-center mb-3">
                        <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                            (click)="addTreatmentCodeByClinic()">{{btntext}}</button>
                        <button mat-raised-button color="primary" class="ml-3"
                            [routerLink]="['/treatmentManager/treatmentcode/clinics']" type="button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>