<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- <div class="col-md-1"></div> -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="clinicsForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Clinic Type</mat-label>
                                        <mat-select name="nationality" formControlName="Clinic_Type_ID">
                                            <mat-option *ngFor="let type of clinicTypesList"
                                                [value]="type.Clinic_Type_ID">
                                                {{type.Clinic_Type_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Clinic Code</mat-label>
                                        <input matInput placeholder="Clinic Code" formControlName="Clinic_Code">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Registration Number</mat-label>
                                        <input matInput placeholder="Registration Number"
                                            formControlName="Registration_No">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Clinic Name</mat-label>
                                        <input matInput placeholder="Clinic Name" formControlName="Clinic_Name">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Clinic Address</mat-label>
                                        <input matInput placeholder="Clinic Address" formControlName="Clinic_Address">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Clinic State</mat-label>
                                        <mat-select name="state" formControlName="State_ID">
                                            <mat-option *ngFor="let state of stateList" [value]="state.State_ID">
                                                {{state.State_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Zone</mat-label>
                                        <mat-select name="Zone" formControlName="Zone_ID">
                                            <mat-option *ngFor="let zone of zoneList" [value]="zone.Zone_ID">
                                                {{zone.Zone_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Clinic City</mat-label>
                                        <mat-select name="city" formControlName="City_ID">
                                            <mat-option *ngFor="let city of cityList" [value]="city.City_ID">
                                                {{city.City_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Post Code</mat-label>
                                        <input matInput placeholder="Post Code" formControlName="Postcode">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Telephone Nunber</mat-label>
                                        <input matInput placeholder="Telephone Number" formControlName="Telephone_No">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Handphone Number</mat-label>
                                        <input matInput placeholder="Handphone Number" formControlName="Handphone_No"
                                            placeholder="+(601X-XXXXXXXXXXXXXXX)">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Fax Number</mat-label>
                                        <input matInput placeholder="Fax Number" formControlName="Fax_No"
                                            placeholder="+(601X-XXXXXXXXXXXXXXX)">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Clinic Email</mat-label>
                                        <input matInput placeholder="Clinic Email" formControlName="Clinic_Email">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Clinic Website</mat-label>
                                        <input matInput placeholder="Clinic Website" formControlName="Clinic_Website">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>FaceBook</mat-label>
                                        <input matInput placeholder="Social Media_1" formControlName="Social_Media_1">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Instagram</mat-label>
                                        <input matInput placeholder="Social Media_2" formControlName="Social_Media_2">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Twitter</mat-label>
                                        <input matInput placeholder="Social Media_3" formControlName="Social_Media_3">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>PIC_1</mat-label>
                                        <input matInput placeholder="Contact Person_1"
                                            formControlName="Contact_Person_1">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>PIC_2</mat-label>
                                        <input matInput placeholder="Contact Person_2"
                                            formControlName="Contact_Person_2">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Bank Name</mat-label>
                                        <input matInput placeholder="Bank Name" formControlName="Bank_Name">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Account Name</mat-label>
                                        <input matInput placeholder="Account Name" formControlName="AC_Name">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Account Number</mat-label>
                                        <input matInput placeholder="Account Number" formControlName="AC_Number">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Credit Terms</mat-label>
                                        <input matInput placeholder="Credit Terms" formControlName="Credit_Terms">
                                    </mat-form-field>
                                </div>

                                <!-- <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Admin Fee Per</mat-label>
                                        <input matInput placeholder="Admin Fee Per" formControlName="Admin_Fee_Per">
                                    </mat-form-field>
                                </div> -->



                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Latitude</mat-label>
                                        <input type="text" name="latitude" id="latitude" matInput
                                            formControlName="Latitude">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Longitude</mat-label>
                                        <input type="text" name="longitude" id="longitude" matInput
                                            formControlName="Longitude">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Directions</mat-label>
                                        <input type="text" name="directions" id="directions" matInput
                                            formControlName="Directions">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Operating Hours</mat-label>
                                        <mat-select name="Hour" formControlName="Operating_Hours">
                                            <mat-option *ngFor="let hour of listItems" [value]="hour.value">
                                                {{hour.value}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <mat-checkbox [disabled]="urlText[3] == 'view'?  true: false" class="example-margin"
                                    [(ngModel)]="BranchYN" checked="BranchYN" (change)="Branchchekbox($event)">
                                    <span style="color: #000 ;">Branch</span> </mat-checkbox>
                            </div>
                            <div class="col-md-3">
                                <mat-checkbox [disabled]="urlText[3] == 'view'?  true: false" class="example-margin"
                                    [(ngModel)]="TPAPanelYN" checked="TPAPanelYN" (change)="TPAPanelchekbox($event)">
                                    <span style="color: #000 ;">TPA Panel</span></mat-checkbox>
                            </div>
                            <div class="col-md-3">
                                <mat-checkbox [disabled]="urlText[3] == 'view'?  true: false" class="example-margin"
                                    [(ngModel)]="InsurancePanelYN" checked="InsurancePanelYN"
                                    (change)="InsurancePanelchekbox($event)">
                                    <span style="color: #000 ;">Insurance Panel</span></mat-checkbox>
                            </div>
                            <div class="col-md-3">
                                <mat-checkbox [disabled]="urlText[3] == 'view'?  true: false" class="example-margin"
                                    [(ngModel)]="PublishedYN" [checked]="PublishedYN"
                                    (change)="panelCheckEvent($event)">
                                    <span style="color: #000 ;">Published</span></mat-checkbox>
                            </div>
                        </div>
                        <br />
                        <mat-card-actions class="col-md-10 text-center">
                            <div class="row">
                                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                                    (click)="addClinicsData()" *ngIf="isDisabled">{{btntext}}</button>
                                <button mat-raised-button color="primary" [routerLink]="['/dataManager/clinic']"
                                    style="margin-left: 15px;" type="submit">Back</button>
                            </div>
                        </mat-card-actions>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-1"></div> -->
        </div>
    </div>
</div>