<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{toptitle}}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="providerForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Provider Name</mat-label>
                    <input matInput placeholder="Provider Name" formControlName="Provider_Name">
                    <mat-error>
                      <span
                        *ngIf="!providerForm.get('Provider_Name').valid && providerForm.get('Provider_Name').touched">Please
                        enter Provider Name</span>
                    </mat-error>
                  </mat-form-field>

                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Provider Address</mat-label>
                    <input matInput placeholder="Provider Address" formControlName="Provider_Address">
                    <mat-error>
                      <span
                        *ngIf="!providerForm.get('Provider_Address').valid && providerForm.get('Provider_Address').touched">Please
                        enter Provider Address</span>
                    </mat-error>
                  </mat-form-field>
                </div>


                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Provider City</mat-label>
                    <mat-select name="city" formControlName="Provider_City_ID">
                      <mat-option *ngFor="let city of cityList" [value]="city.City_ID">
                        {{city.City_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Provider State</mat-label>
                    <mat-select name="state" formControlName="Provider_State_ID">
                      <mat-option *ngFor="let state of stateList" [value]="state.State_ID">
                        {{state.State_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Provider PostCode</mat-label>
                    <input matInput placeholder="PostCode" formControlName="Provider_PostCode">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Provider Contact Number</mat-label>
                    <input matInput placeholder="Provider Contact Number" formControlName="Provider_Contact_No">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Provider Contact Name</mat-label>
                    <input matInput placeholder="Provider Contact Name" formControlName="Provider_Contact_Person">
                  </mat-form-field>
                </div>
              </div>
            </form>
            <br />
            <mat-card-actions class="col-md-10 text-center">
              <div class="row">
                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                  (click)="addProvider()" *ngIf="isDisabled">{{btntext}}</button>
                <button mat-raised-button color="primary" [routerLink]="['/provider']" style="margin-left: 15px;"
                  type="submit">Back</button>
              </div>
            </mat-card-actions>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>