<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{toptitle}}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="branchForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Branch Code</mat-label>
                    <input matInput placeholder="Branch Code" formControlName="Branch_Code">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Branch Description</mat-label>
                    <input matInput placeholder="Branch Description" formControlName="Branch_Description">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Status</mat-label>
                    <mat-select name="status" formControlName="Branch_Status_ID">
                      <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                        {{status.Status_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

              </div>
            </form>
            <div class="text-center">
              <div class="row">
                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                  (click)="addMasterTPASetup()" *ngIf="isDisabled">{{btntext}}</button>
                <button mat-raised-button color="primary" [routerLink]="['/dataManager/branch']"
                  style="margin-left: 15px;" type="submit">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-1"></div> -->
    </div>
  </div>
</div>