<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="companyForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Choose a date</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="Registered_Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker [startAt]="date" #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Company Registration Number *</mat-label>
                                        <input matInput placeholder="Registration Number"
                                            formControlName="Registration_No">
                                    </mat-form-field>
                                    <mat-error>
                                        <span
                                            *ngIf="!companyForm.get('Registration_No').valid && companyForm.get('Registration_No').touched">Please
                                            enter Registration Number</span>
                                    </mat-error>
                                </div>

                                <!-- <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <mat-label>Company Code *</mat-label>
                                        <input matInput placeholder="Company Code" formControlName="Company_Code">
                                        <mat-error>
                                            <span
                                                *ngIf="!companyForm.get('Company_Code').valid && companyForm.get('Company_Code').touched">Please
                                                enter Company Code</span>
                                        </mat-error>
                                    </mat-form-field>

                                </div> -->

                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <mat-label>Company Name *</mat-label>
                                        <input matInput placeholder="Company Name" formControlName="Company_Name">
                                        <mat-error>
                                            <span
                                                *ngIf="!companyForm.get('Company_Name').valid && companyForm.get('Company_Name').touched">Please
                                                enter Company Name</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Company Address</mat-label>
                                        <input matInput placeholder="Company_Address" formControlName="Company_Address">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>State *</mat-label>
                                        <mat-select name="state" formControlName="Company_State_ID">
                                            <mat-option *ngFor="let state of stateList" [value]="state.State_ID">
                                                {{state.State_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>City *</mat-label>
                                        <mat-select name="city" formControlName="Company_City_ID">
                                            <mat-option *ngFor="let city of cityList" [value]="city.City_ID">
                                                {{city.City_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>PostCode</mat-label>
                                        <input matInput placeholder="PostCode" formControlName="PostCode">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Company Email</mat-label>
                                        <input matInput placeholder="Company_Email" formControlName="Company_Email">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <mat-label>Fax Number</mat-label>
                                        <input matInput placeholder="Fax_No" formControlName="Fax_No">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <mat-label>Telephone Number</mat-label>
                                        <input matInput placeholder="Telephone_No" formControlName="Telephone_No">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Contact Person Name</mat-label>
                                        <input matInput placeholder="Contact_Person" formControlName="Contact_Person_1">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Contact Person Email</mat-label>
                                        <input matInput placeholder="Contact_Person_Email"
                                            formControlName="Contact_Person_Email">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Telephone Number_1</mat-label>
                                        <input matInput placeholder="Telephone_No" formControlName="Telephone_No_1">
                                        <mat-error>
                                            <span
                                                *ngIf="!companyForm.get('Telephone_No_1').valid && companyForm.get('Telephone_No_1').touched">Please
                                                enter Telephone_No_1 Numbers Only</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Mobile Number_1</mat-label>
                                        <input matInput placeholder="Mobile_No" formControlName="Mobile_No_1">
                                        <mat-error>
                                            <span
                                                *ngIf="!companyForm.get('Mobile_No_1').valid && companyForm.get('Mobile_No_1').touched">Please
                                                enter Mobile_No_1 Numbers Only</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <mat-label>Agent ID *</mat-label>
                                        <input matInput placeholder="Agent_ID" formControlName="Agent_ID">
                                        <mat-error>
                                            <span
                                                *ngIf="!companyForm.get('Agent_ID').valid && companyForm.get('Agent_ID').touched">Please
                                                enter Agent ID Numbers Only</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <mat-label>Facebook ID</mat-label>
                                        <input matInput placeholder="Facebook_ID" formControlName="Facebook_ID">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>LinkedIN ID</mat-label>
                                        <input matInput placeholder="LinkedIN_ID" formControlName="LinkedIN_ID">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <mat-label>Twitter ID</mat-label>
                                        <input matInput placeholder="Twitter_ID" formControlName="Twitter_ID"
                                            [attr.disabled]="isDisabled">
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Provider Name *</mat-label>
                                        <mat-select name="provider" formControlName="Provider_ID">
                                            <mat-option *ngFor="let provider of providerList"
                                                [value]="provider.Provider_ID">
                                                {{provider.Provider_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->

                            </div>
                        </form>
                        <br />
                        <mat-card-actions class="col-md-10 text-center">
                            <div class="row">
                                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                                    (click)="addCompany()" *ngIf="isDisabled">{{btntext}}</button>
                                <button mat-raised-button color="primary" [routerLink]="['/company']"
                                    style="margin-left: 15px;" type="submit">Back</button>
                            </div>
                        </mat-card-actions>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>