<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form class="mt-3" [formGroup]="toothCodeForm">
                            <div class="row">
                                <div class="col-md-4 mt-3">
                                    <mat-label>Tooth Code</mat-label>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field>
                                        <input matInput placeholder="Enter Tooth Code" formControlName="Tooth_Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <mat-label>Remarks</mat-label>
                                </div>
                                <div class="col-md-8">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Remarks" formControlName="Remarks"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-3">
                                    <mat-label>Status</mat-label>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-select name="status" formControlName="Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-center mb-2">
                        <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                           (click)="addToothCode()" >{{btntext}}</button>
                        <button mat-raised-button color="primary" class="ml-3"
                            [routerLink]="['/treatmentManager/toothCode']" type="button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>