<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="treatmentPlanCategoryForm" class="mt-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Treatment Plan</mat-label>
                                        <mat-select formControlName="Treatment_Plan_ID">
                                            <mat-option *ngFor="let plan of treatmentPlanList"
                                                [value]="plan.Treatment_Plan_ID">
                                                {{plan.Treatment_Plan_Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Treatment Category</mat-label>
                                        <mat-select formControlName="Treatment_Category_ID">
                                            <mat-option *ngFor="let category of treatmentCategoryList"
                                                [value]="category.Treatment_Category_ID">
                                                {{'(' + category.Category_Number + ')' + '  ' + category.Remarks}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <!-- <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Rate Limit</mat-label>
                                        <input type="number" name="percentage" id="percentage" matInput
                                            formControlName="Percentage" placeholder="Enter Rate Limit">
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Claim Limit</mat-label>
                                        <input type="number" name="percentage" id="percentage" matInput
                                            formControlName="Rate_Limit" placeholder="Enter Claim limit">
                                        <mat-error
                                            *ngIf="formControls.Rate_Limit.touched && formControls.Rate_Limit.invalid">
                                            <span *ngIf="formControls.Rate_Limit.errors?.range">Limit Should be 1, 0 or
                                                -1</span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mt-4 mb-2">
                            <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                                (click)="saveTreatmentPlanCategory()">{{btntext}}</button>
                            <button mat-raised-button color="primary" class="ml-3"
                                [routerLink]="['/dataManager/treatmentPlan']" type="button">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>