<footer class="footer ">
    <div class="container-fluid">        
        <div class="copyright pull-center">
            Copyright &copy;  ACA, my.All rights reserved.            
        </div>
    </div>
</footer>
