<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form class="mt-3" [formGroup]="treatmentGroup">
                            <div class="row">

                                <div class="col-md-4 mt-3">
                                    <mat-label>Treatment Category</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select formControlName="Treatment_Category_ID">
                                            <mat-option *ngFor="let category of treatmentCategoryList"
                                                [value]="category.Treatment_Category_ID">
                                                {{'(' + category.Category_Number + ')' + '  ' + category.Remarks}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-label>Treatment Group Code</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input type="text" matInput name="groupCode" id="groupCode"
                                            formControlName="Treatment_Group_Code"
                                            placeholder="Enter Treatment Group Code">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 mt-3">
                                    <mat-label>Treatement Group Description</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Enter Treatement Group Description"
                                            formControlName="Treatment_Group_Description"></textarea>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 mt-3">
                                    <mat-label>Sort Order</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input type="text" matInput name="groupCode" id="groupCode"
                                            formControlName="Sort_Order" placeholder="Enter Sort Order">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-label>Associated Code</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput placeholder="Enter Associated Code"
                                            formControlName="Associated_Code"></textarea>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 mt-3">
                                    <mat-label>Status</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select name="status" formControlName="Treatment_Group_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>
                        </form>
                        <div class="row">
                            <div class="col-md-5">
                                <mat-checkbox [disabled]="urlText[3] == 'view'?  true: false" class="example-margin"
                                    [checked]="treatmentGroup.get('Extraction_YN').value == 'Y'"
                                    (change)="onExtractionEvent($event)">
                                    <span style="color: #000 ;">Extraction</span></mat-checkbox>
                            </div>
                        </div>

                    </div>
                    <div class="text-center mb-3">
                        <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                            (click)="addTreatmentGroup()">{{btntext}}</button>
                        <button mat-raised-button color="primary" class="ml-3"
                            [routerLink]="['/treatmentManager/treatmentGroup']" type="button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>