<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="serviceTypeForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Service Type</mat-label>
                                        <input type="text" name="serviceType" id="service" matInput
                                            placeholder="Enter Service Type Name" formControlName="Service_Type_Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="Service_Type_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-center mb-2">
                        <button mat-raised-button color="primary" type="submit" (click)="saveServiceType()"
                            *ngIf="isDisabled">{{btntext}}</button>
                        <button mat-raised-button color="primary" class="ml-3"
                            [routerLink]="['/dataManager/servicetype']" type="button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>