<h2 mat-dialog-title>Add Menu</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="menuForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Menu Name</mat-label>
                    <input type="text" name="menu" id="menu" placeholder="Enter Menu Name" matInput
                        formControlName="Menu_Name">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="TPA_Menu_Status_ID">
                        <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                            {{status.Status_Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="accent">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial
        (click)="addMenu()">Save</button>
</mat-dialog-actions>