<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{toptitle}}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="masterTPASetupForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Branch Code</mat-label>
                    <mat-select name="Branch" formControlName="Branch_Code" (selectionChange)="BindingValue($event)">
                      <mat-option *ngFor="let branch of branchList" [value]="branch.Branch_Code">
                        {{branch.Branch_Code}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Branch Description</mat-label>
                    <input matInput placeholder="Branch Description" formControlName="Branch_Description">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Product Code</mat-label>
                    <!-- <input matInput placeholder="Product Code" formControlName="Product_Code"> -->
                    <mat-select name="product" formControlName="Product_Code"
                      (selectionChange)="BindingProductDescription($event)">
                      <mat-option *ngFor="let product of productList" [value]="product.Product_Code">
                        {{product.Product_Code}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Product Description</mat-label>
                    <input matInput placeholder="Product Description" formControlName="Product_Description">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Start date</mat-label>
                    <input matInput #sd [matDatepicker]="dp" formControlName="Start_Date"
                      (dateChange)="onStartDateChange()">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="fill">
                    <mat-label>End date</mat-label>
                    <input matInput [matDatepicker]="dp1" formControlName="End_Date">
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Master TPA ID</mat-label>
                    <input matInput placeholder="" formControlName="Master_TPA_ID">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <button mat-raised-button color="primary" type="submit" (click)="generateMASTERTPAID()"
                    *ngIf="isDisabledGenerate">Generate</button>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Status</mat-label>
                    <mat-select name="status" formControlName="Master_TPA_Setup_Status_ID">
                      <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                        {{status.Status_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </form>
            <div class="row">
              <!-- <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>Start date</mat-label>
                  <input matInput #sd [matDatepicker]="dp" [(ngModel)]="startDate" (dateChange)="onStartDateChange()">
                  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                  <mat-datepicker #dp></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="fill">
                  <mat-label>End date</mat-label>
                  <input matInput [matDatepicker]="dp1" [(ngModel)]="endDate">
                  <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                  <mat-datepicker #dp1></mat-datepicker>
                </mat-form-field>
              </div> -->
            </div>
            <br />
            <div class="text-center">
              <div class="row">
                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                  (click)="addMasterTPASetup()" *ngIf="isDisabled">{{btntext}}</button>
                <!-- <button mat-raised-button color="primary" type="submit" style="margin-left: 15px;"
                  (click)="generateMASTERTPAID()" *ngIf="isDisabledGenerate">Generate</button> -->
                <button mat-raised-button color="primary" [routerLink]="['/dataManager/master-tpasetup']"
                  style="margin-left: 15px;" type="submit">Back</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-1"></div> -->
    </div>
  </div>
</div>