<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Product Master List </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <button mat-raised-button [routerLink]="['/dataManager/product/add']"
                                    color="primary">Add Product</button>
                            </div>
                            <div class="mat-elevation-z8 mt-2">
                                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                            [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                        </mat-paginator>
                                <table mat-table class="table" style="width: 100%;" matSort
                                    aria-label="Elements" [dataSource]="dataSource">
                                    <!-- Id Column -->
                                    <ng-container matColumnDef="Product_Code">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Code</th>
                                        <td mat-cell *matCellDef="let row"> {{row.Product_Code}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Product_Description">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Description </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Product_Description}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="Status_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Status_Name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <div class="btn-group" role="group">
                                                <button mat-raised-button
                                                [routerLink]="['/dataManager/product-profile',row.Product_ID]"
                                                type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="View"
                                                [routerLink]="['/dataManager/product-profile/view',row.Product_ID]"
                                                [matTooltipPosition]="'above'"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                            </div>
                                            
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>