<div class="card-body">
    <!-- <button mat-raised-button [routerLink]="['/dataManager/treatmentPlanCategory/add']"
                                color="primary">Add
                                Treatment Plan Category</button> -->
    <div class="table-responsive">
        <div class="mat-elevation-z4">
            <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
            </mat-paginator>
            <table mat-table class="table table-hover table-striped" style="width: 100%;" matSort aria-label="Elements"
                [dataSource]="dataSource">

                <ng-container matColumnDef="Category_Number">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Category Number </th>
                    <td mat-cell *matCellDef="let row">{{row.Category_Number}}</td>
                </ng-container>


                <ng-container matColumnDef="Treatment_Plan_Type_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Treatment Plan Type </th>
                    <td mat-cell *matCellDef="let row">{{row.Treatment_Plan_Type_Name}}</td>
                </ng-container>


                <ng-container matColumnDef="Treatment_Plan_Code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Treatment Plan Code </th>
                    <td mat-cell *matCellDef="let row">{{row.Treatment_Plan_Code}}</td>
                </ng-container>

                <ng-container matColumnDef="Treatment_Plan_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Treatment Plan </th>
                    <td mat-cell *matCellDef="let row">{{row.Treatment_Plan_Name}}</td>
                </ng-container>

                <ng-container matColumnDef="Rate_Limit">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Claim Limit </th>
                    <td mat-cell *matCellDef="let row">${{row.Rate_Limit}}</td>
                </ng-container>

                <!-- <ng-container matColumnDef="Rate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Rate </th>
                        <td mat-cell *matCellDef="let row">{{row.Rate_Limit}}</td>
                    </ng-container> -->

                <ng-container matColumnDef="Status_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Status </th>
                    <td mat-cell *matCellDef="let row">{{row.Status_Name}}</td>
                </ng-container>

                <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Action </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="btn-group">
                            <button mat-raised-button
                                [routerLink]="['/dataManager/treatmentPlanCategory',row.Treatment_Plan_Category_ID]"
                                type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">edit</i>
                            </button>
                            <button mat-raised-button
                                [routerLink]="['/dataManager/treatmentPlanCategory/view',row.Treatment_Plan_Category_ID]"
                                type="button" matTooltip="View" [matTooltipPosition]="'above'"
                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                <i class="material-icons">visibility</i>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>