<div class="auth-wrapper">
  <div class="auth-content">
    <div class="auth-bg">
      <span class="r"></span>
      <span class="r s"></span>
      <span class="r s"></span>
      <span class="r"></span>
    </div>
    <div class="card col-xs-3 col-xs-offset-9" style="width: 35%;margin: 10% 30% !important;">
      <div class="card-body text-center">
        <div class="mb-4">
          <i class="feather icon-unlock auth-icon"></i>
        </div>
        <div class="mb-3 logo-img">
          <img style="width: 280px;" src="/assets/img/logo.PNG" />
        </div>
        <div class="input-group mb-3" style="padding: 0px 20px;">
          <input type="email" class="form-control" placeholder="User Name" [(ngModel)]="userData.User_Name" required>
        </div>
        <div class="input-group mb-4" style="padding: 0px 20px;">
          <input type="password" class="form-control" placeholder="Password" [(ngModel)]="userData.Password" required>
        </div>
        <button mat-raised-button color="primary" (click)="onLoggedIn()" type="submit">Login</button>
      </div>
    </div>
  </div>
</div>