<!--  -->

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">TPA Claims</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <button mat-raised-button [routerLink]="['/claims/submission/internal']" color="primary"
                                    *ngIf="url[3] === 'index'">
                                    Add Claims (Internal)
                                </button>
                                <button mat-raised-button [routerLink]="['/claims/submission/clinic']" color="primary"
                                    *ngIf="url[3] === 'clinicindex'">
                                    Add Claims (Clinic)
                                </button>
                            </div>
                            <div class="table-responsive">
                                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                                    [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                                </mat-paginator>
                                <table mat-table class="table table-bordered" style="width: 100%;" matSort
                                    aria-label="Elements" [dataSource]="dataSource">
                                    <!-- Id  -->
                                    <ng-container matColumnDef="Clinic_Code">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Claim Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Claim_Date | date:'dd-MM-yyyy'}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Clinic_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Clinic_Name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Doctor_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Doctor Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Doctor_Name}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="Company_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Company_Name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Status_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Status_Name}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>