<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{masterTPABenefits.Title}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="masterTPABenefitsForm">
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>{{addMasterTPABenefits.TPABenefit.displayname}}</mat-label>
                                        <mat-select formControlName="TPA_Benefit_ID">
                                            <mat-option *ngFor="let benefit of benefitPlanList"
                                                [value]="benefit.TPA_Benefit_ID">
                                                {{benefit.Benefit_Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div> -->
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>{{addMasterTPABenefits.FloatAmount.displayname}}</mat-label>
                                        <input type="number" name="Warning" id="Warning"
                                            [placeholder]="addMasterTPABenefits.FloatAmount.placeHolder" matInput
                                            formControlName="Float_Amount">
                                        <mat-error *ngIf="float.Float_Amount.touched && float.Float_Amount.invalid">
                                            <span *ngIf="float.Float_Amount.errors?.required">
                                                Float Amount is required
                                            </span>
                                            <span *ngIf="float.Float_Amount.errors?.flat">
                                                Threshold Warning must be greater than 0
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>{{addMasterTPABenefits.Threshold_Warning.displayname}}</mat-label>
                                        <input type="number" name="Warning" id="Warning"
                                            [placeholder]="addMasterTPABenefits.Threshold_Warning.placeHolder" matInput
                                            formControlName="Threshold_Warning">
                                        <mat-error
                                            *ngIf="float.Threshold_Warning.touched && float.Threshold_Warning.invalid">
                                            <span *ngIf="float.Threshold_Warning.errors?.required">
                                                Threshold Warning is required
                                            </span>
                                            <span *ngIf="float.Threshold_Warning.errors?.service">
                                                Threshold Warning must be between 0 to 100
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>{{addMasterTPABenefits.Threshold_Hold.displayname}}</mat-label>
                                        <input type="number" name="stop" id="stop"
                                            [placeholder]="addMasterTPABenefits.Threshold_Hold.placeHolder" matInput
                                            formControlName="Threshold_Hold">
                                        <mat-error *ngIf="float.Threshold_Hold.touched && float.Threshold_Hold.invalid">
                                            <span *ngIf="float.Threshold_Hold.errors?.required">
                                                Threshold Hold is required
                                            </span>
                                            <span *ngIf="float.Threshold_Hold.errors?.service">
                                                Threshold Hold must be between 0 to 100
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>{{addMasterTPABenefits.Threshold_Stop.displayname}}</mat-label>
                                        <input type="number" name="Hold" id="Hold"
                                            [placeholder]="addMasterTPABenefits.Threshold_Stop.placeHolder" matInput
                                            formControlName="Threshold_Stop">
                                        <mat-error *ngIf="float.Threshold_Stop.touched && float.Threshold_Stop.invalid">
                                            <span *ngIf="float.Threshold_Hold.errors?.required">
                                                Threshold Stop is required
                                            </span>
                                            <span *ngIf="float.Threshold_Stop.errors?.service">
                                                Threshold Stop must be between 0 to 100
                                            </span>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Master_TPA_Float_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mt-2">
                            <button type="submit" mat-raised-button color="primary" (click)="saveMasterTPABenefits()">
                                Save
                            </button>
                            <button type="button" mat-raised-button color="accent" class="ml-3"
                                [routerLink]="['/dataManager/master-tpa']">
                                Back
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>