<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Claims Submission {{routerURL[3] | uppercase}}</h4>
                    </div>
                    <div class="card-body">
                        <mat-horizontal-stepper [linear]="true" #stepper>
                            <mat-step [stepControl]="tpaClaimsForm">
                                <form [formGroup]="tpaClaimsForm">
                                    <ng-template matStepLabel>Enter a New Dental Claim</ng-template>
                                    <div class="row">
                                        <div class="col-md-4" *ngIf="clinicPerms">
                                            <mat-label>Choose Clinic</mat-label>
                                            <mat-form-field>
                                                <mat-select formControlName="Clinic_ID"
                                                    (selectionChange)="onClinicSelect($event)">
                                                    <mat-option *ngFor="let clinic of clinicsList"
                                                        [value]="clinic.Clinic_ID">
                                                        {{clinic.Clinic_Name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="claimFormControls.Clinic_ID.touched && claimFormControls.Clinic_ID.invalid">
                                                    <span *ngIf="claimFormControls.Clinic_ID.errors?.required">
                                                        Choose Clinic, Clinic cannot be empty
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-label>Choose Doctor</mat-label>
                                            <mat-form-field>
                                                <mat-select formControlName="Doctor_ID">
                                                    <mat-option *ngFor="let doctor of doctorsList"
                                                        [value]="doctor.Doctor_ID">
                                                        {{doctor.Doctor_Name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="claimFormControls.Doctor_ID.touched && claimFormControls.Doctor_ID.invalid">
                                                    <span *ngIf="claimFormControls.Doctor_ID.errors?.required">
                                                        Choose Doctor, Doctor cannot be empty
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-label>Policy Number, IC or Passport</mat-label>
                                            <mat-form-field>
                                                <input type="text" name="pass" id="pass" [formControl]="policy_id"
                                                    placeholder="Enter Policy Number, IC or Passport" matInput>
                                                <mat-error *ngIf="policy_id.touched && policy_id.invalid">
                                                    <span *ngIf="policy_id.errors?.required">
                                                        Enter Policy Number or TPA ID
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button mat-raised-button (click)="getPatientDetails()" color="primary">
                                            Update Policy
                                        </button>
                                        <button mat-raised-button (click)="goBack()" color="warn" class="ml-3">
                                            Back
                                        </button>
                                    </div>
                                </form>
                            </mat-step>
                            <mat-step [stepControl]="tpaClaimsForm">
                                <form [formGroup]="tpaClaimsForm">
                                    <ng-template matStepLabel>Select Patient</ng-template>
                                    <div class="row">
                                        <div class="col-md-4 mt-3">
                                            <mat-label>Patient</mat-label>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select formControlName="Company_ID"
                                                    (selectionChange)="onSelectChange($event.value)">
                                                    <mat-option></mat-option>
                                                    <mat-option *ngFor="let patient of patientList"
                                                        [value]="patient.Company_ID">{{patient.Patient_Name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error
                                                    *ngIf="claimFormControls.Company_ID.touched && claimFormControls.Company_ID.invalid">
                                                    <span *ngIf="claimFormControls.Company_ID.errors?.required">
                                                        Choose Patient, Patient cannot be empty
                                                    </span>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button mat-raised-button matStepperPrevious color="warn">
                                            Back
                                        </button>
                                        <button mat-raised-button color="primary" class="ml-3"
                                            (click)="getTreatmentMasterSetup()">
                                            Next
                                        </button>
                                    </div>
                                </form>
                                <!-- <app-claims-submission></app-claims-submission> -->
                            </mat-step>
                            <mat-step [stepControl]="tpaClaimDetailsForm">
                                <ng-template matStepLabel>TPA Claim Details</ng-template>
                                <!-- <app-claims-submission></app-claims-submission> -->
                                <div class="table-responsive">
                                    <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                                        [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                                    </mat-paginator>
                                    <table mat-table class="table table-bordered" style="width: 100%;" matSort
                                        aria-label="Elements" [dataSource]="dataSource" #table>
                                        <ng-container matColumnDef="Treatment_Group_Code">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment Group Code
                                            </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Treatment_Group_Code}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="Treatment_Group_Description">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment Group </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Treatment_Group_Description}}
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Treatment_Code">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment Code </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Treatment_Code}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Treatment_Rate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment Rate </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Treatment_Rate}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="Start_Date">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Start_Date | date:'dd-MM-yyyy'}}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="End_Date">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                                            <td mat-cell *matCellDef="let row"> {{row.End_Date | date:'dd-MM-yyyy'}}
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                                <form [formGroup]="tpaClaimDetailsForm">
                                    <div class="row">
                                        <button class="float-right" mat-raised-button color="primary" type="button"
                                            (click)="getTPAClaims()">Treatment List</button>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-4">
                                            <mat-label>Treatment Group</mat-label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <mat-select formControlName="Treatment_Group_ID"
                                                    (selectionChange)="onTreatmentGroupChange($event.value)">
                                                    <mat-option *ngFor="let group of treatmentGrpList"
                                                        [value]="group.Treatment_Group_ID">
                                                        {{group.Treatment_Group_Code + ' - ' + group.Treatment_Group_Description}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-label>Treatment Code</mat-label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <mat-select formControlName="Treatment_Code_ID"
                                                    (selectionChange)="onTreatmentCodeSelect($event.value, true)">
                                                    <mat-option *ngFor="let code of treatmentCodeList"
                                                        [value]="code.Treatment_Code_ID">
                                                        {{code.Treatment_Code}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-12 mt-5">
                                            <mat-card *ngIf="adultDentition.length!=0 || primaryDentition.length !=0">
                                                <div class="table-responsive">
                                                    <mat-label>
                                                        <h5 class="text-center mt-2">Tooth Code</h5>
                                                    </mat-label>
                                                    <table class="table table-hover table-striped"
                                                        *ngIf="adultDentition.length!=0">
                                                        <thead>
                                                            <tr>
                                                                <th>Adult Dentition</th>
                                                                <th>Select</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container *ngFor="let code of adultDentition">
                                                                <tr>
                                                                    <td>{{code.Tooth_Code}}</td>
                                                                    <td>
                                                                        <mat-checkbox
                                                                            (change)="onToothCodeChanges($event.checked, code)"
                                                                            formControlName="Tooth_Code_ID"
                                                                            [value]="code.Tooth_Code_ID">
                                                                        </mat-checkbox>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>

                                                        </tbody>
                                                    </table>
                                                    <table class="table table-hover table-striped"
                                                        *ngIf="primaryDentition.length!=0">
                                                        <thead>
                                                            <tr>
                                                                <th>Primary Dentition</th>
                                                                <th>Select</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <ng-container *ngFor="let code of primaryDentition">
                                                                <tr>
                                                                    <td>{{code.Tooth_Code}}</td>
                                                                    <td>
                                                                        <mat-checkbox
                                                                            (change)="onToothCodeChanges($event.checked, code)"
                                                                            formControlName="Tooth_Code_ID"
                                                                            [value]="code.Tooth_Code_ID">
                                                                        </mat-checkbox>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </mat-card>
                                        </div>
                                        <div class="col-md-12 mt-3">
                                            <mat-card>
                                                <mat-label>
                                                    <h4 class="text-center">Tooth Surface</h4>
                                                </mat-label>
                                                <mat-card-content>
                                                    <mat-list role="list">
                                                        <mat-list-item role="listitem"
                                                            *ngFor="let surface of toothSurfaceCodeList">
                                                            <mat-checkbox [value]="surface.Tooth_Surface_ID"
                                                                (change)="onToothSurfaceSelect($event, surface)"
                                                                formControlName="Tooth_Surface_ID">
                                                                {{surface.Tooth_Surface_Code}}
                                                            </mat-checkbox>
                                                        </mat-list-item>
                                                    </mat-list>
                                                </mat-card-content>
                                            </mat-card>
                                        </div>
                                        <div class="col-md-4 mt-4">
                                            <mat-label>Comments</mat-label>
                                        </div>
                                        <div class="col-md-8 mt-4">
                                            <mat-form-field>
                                                <textarea name="comments" id="comments" matInput
                                                    formControlName="Comments"></textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 mt-3">
                                            <mat-label>Status</mat-label>
                                        </div>
                                        <div class="col-md-5 mt-3">
                                            <mat-form-field class="full-width">
                                                <mat-select name="status"
                                                    [formControl]="claimFormControls.TPA_Claim_Status_ID">
                                                    <mat-option *ngFor="let status of statusList"
                                                        [value]="status.Status_ID">
                                                        {{status.Status_Name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <button mat-raised-button color="primary" class="mt-3" (click)="saveTPAClaims()">
                                        Save
                                    </button>
                                    <button mat-raised-button color="warn" class="mt-3 ml-3" matStepperPrevious>
                                        Back
                                    </button>
                                </div>
                            </mat-step>
                            <!-- <mat-step>
                                <ng-template matStepLabel>Finish</ng-template>
                                <div class="text-center">
                                    <button mat-raised-button color="primary" class="mt-3" (click)="saveTPAClaims()">
                                        Save
                                    </button>
                                    <button mat-raised-button color="warn" class="mt-3 ml-3" matStepperPrevious>
                                        Back
                                    </button>
                                </div>
                            </mat-step> -->
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>