<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Company Treatment Plan</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <button mat-raised-button [routerLink]="['/dataManager/treatmentPlanCompany/add']"
                                    color="primary">Add Company Treatment Plan</button>
                            </div>
                            <div class="mat-elevation-z8">
                                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                            [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                        </mat-paginator>
                                <table mat-table class="table" style="width: 100%;" matSort aria-label="Elements"
                                    [dataSource]="dataSource">


                                    <ng-container matColumnDef="Company_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                                            Treatment Plan Code </th>
                                        <td mat-cell *matCellDef="let row">{{row.Company_Name}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Insurer_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                                            Insurance Name </th>
                                        <td mat-cell *matCellDef="let row">{{row.Insurer_Name}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Principal_Plan_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                                            Principal Plan Name </th>
                                        <td mat-cell *matCellDef="let row">{{row.Principal_Plan_Name}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Treatment_Plan_Company_Status_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                                            Status </th>
                                        <td mat-cell *matCellDef="let row">{{row.Treatment_Plan_Company_Status_Name}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                                            Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <div class="btn-group" role="group">
                                                <button mat-raised-button
                                                    [routerLink]="['/dataManager/treatmentPlanCompany/',row.Treatment_Plan_Company_ID]"
                                                    type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button
                                                    [routerLink]="['/dataManager/treatmentPlanCompany/view',row.Treatment_Plan_Company_ID]"
                                                    type="button" matTooltip="View" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>