<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{toptitle}}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="employeeForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Principal Code</mat-label>
                    <input matInput placeholder="Principal Code" formControlName="Employee_Code">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Principal Name</mat-label>
                    <input matInput placeholder="Employee Name" formControlName="Employee_Name">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Principal NRIC Number</mat-label>
                    <input matInput placeholder="Principal NRIC Number" formControlName="Employee_NRIC_No">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Principal DOB</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="Employee_DOB">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Principal POB</mat-label>
                    <input matInput placeholder="Employee POB" formControlName="Employee_POB">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Nationality</mat-label>
                    <mat-select name="nationality" formControlName="Nationality_ID">
                      <mat-option *ngFor="let nationality of NationalityList" [value]="nationality.Nationality_ID">
                        {{nationality.Nationality_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Race</mat-label>
                    <mat-select name="race" formControlName="Race_ID">
                      <mat-option *ngFor="let race of RaceList" [value]="race.Race_ID">
                        {{race.Race_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Gender</mat-label>
                    <mat-select name="gender" formControlName="Gender_ID">
                      <mat-option *ngFor="let gender of GenderList" [value]="gender.Gender_ID">
                        {{gender.Gender_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Maritial Status</mat-label>
                    <mat-select name="Maritial_Status" formControlName="Maritial_Status_ID">
                      <mat-option *ngFor="let Maritial_Status of MaritialStatusList"
                        [value]="Maritial_Status.Maritial_Status_ID">
                        {{Maritial_Status.Maritial_Status_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Principal City</mat-label>
                    <mat-select name="city" formControlName="City_ID">
                      <mat-option *ngFor="let city of cityList" [value]="city.City_ID">
                        {{city.City_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Principal State</mat-label>
                    <mat-select name="state" formControlName="State_ID">
                      <mat-option *ngFor="let state of stateList" [value]="state.State_ID">
                        {{state.State_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Post Code</mat-label>
                    <input matInput placeholder="PostCode" formControlName="Pincode">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Principal Email</mat-label>
                    <input matInput placeholder="Principal Email" formControlName="Employee_Email">
                  </mat-form-field>
                </div>


                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Telephone Number</mat-label>
                    <input matInput placeholder="Telephone Number" formControlName="Telephone_No">
                  </mat-form-field>
                </div>

                <div class="col-md-6 mt-4">
                  <mat-form-field class="full-width">
                    <mat-label>Handphone Number</mat-label>
                    <input matInput placeholder="Handphone Number" formControlName="Handphone_No">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Principal Address</mat-label>
                    <textarea matInput placeholder="Principal Address" formControlName="Employee_Address"></textarea>
                  </mat-form-field>
                </div>

              </div>
            </form>
            <br />
            <mat-card-actions class="col-md-10 text-center">
              <div class="row">
                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                  (click)="addEmployee()" *ngIf="isDisabled">{{btntext}}</button>
                <button mat-raised-button color="primary" class="ml-3" type="submit"
                  (click)="getDependentsByPrincipal()"
                  *ngIf="urlText[2] == 'view' || urlText[2] != 'create'">Dependents</button>
                <button mat-raised-button color="primary" [routerLink]="['/employee']" class="ml-3"
                  type="submit">Back</button>
              </div>
            </mat-card-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>