<h2 mat-dialog-title>Claims</h2>
<mat-dialog-content class="mat-typography">
    Patient has an Active Claim in Process, Do you want to Continue?
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close mat-dialog-close="true" color="primary">Continue</button>
    <button mat-button mat-dialog-close mat-dialog-close="false" color="accent">Close</button>
</mat-dialog-actions>