<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">TPA Member Import List</h4>
                    </div>
                    <div class="card-body">
                        <button mat-raised-button [routerLink]="['/dataManager/tpamember/import']"
                            color="primary">Import TPAMember
                        </button>
                        <button mat-raised-button (click)="inserTPAMemberImport()" class="ml-2" color="primary">Update
                            TPA
                        </button>
                        <button type="submit" mat-raised-button color="primary" class="ml-2"
                            (click)="updateAll(selection.selected)">
                            Update Batch
                        </button>
                        <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                            [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                        </mat-paginator>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-label>Filter By Status:</mat-label>
                                    <mat-select (selectionChange)="applyFilter($event.value)">
                                        <mat-option [value]="'All'">All</mat-option>
                                        <mat-option [value]="'Confirmed'">Confirmed</mat-option>
                                        <mat-option [value]="'Pending'">Pending</mat-option>
                                        <mat-option [value]="'Uploaded'">Uploaded</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-label>Search By:</mat-label>
                                    <input placeholder="Search By" (input)="applyFilter($event.target.value)" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-label>Batch Number</mat-label>
                                    <mat-select (selectionChange)="applyFilter($event.value)">
                                        <mat-option [value]="batch.Batch_Number" *ngFor="let batch of batchlist">
                                            {{batch.Batch_Number}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <div class="mat-elevation-z8 mt-2">
                                <table mat-table class="table" style="width: 100%;" matSort aria-label="Elements"
                                    [dataSource]="dataSource">

                                    <!-- Checkbox Column -->
                                    <ng-container matColumnDef="select">
                                        <th mat-header-cell *matHeaderCellDef>
                                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                                [checked]="selection.hasValue() && isAllSelected()"
                                                [aria-label]="checkboxLabel()">
                                            </mat-checkbox>
                                        </th>
                                        <td mat-cell *matCellDef="let row">
                                            <mat-checkbox (click)="$event.stopPropagation()"
                                                (change)="$event ? toggleCheckbox($event, row) : null"
                                                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                            </mat-checkbox>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Batch_Number">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Batch Number </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Batch_Number}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="TPA_MASTER">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> TPA Member </th>
                                        <td mat-cell *matCellDef="let row"> {{row.TPA_MASTER}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Relationship">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> RelationShip </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Relationship}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="StaffCode">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Staff Code </th>
                                        <td mat-cell *matCellDef="let row"> {{row.StaffCode}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Plan">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> TPA Plan </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Plan}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="IC">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> IC Number </th>
                                        <td mat-cell *matCellDef="let row"> {{row.IC}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Remarks">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Remarks}} </td>
                                    </ng-container>

                                    <!-- <ng-container matColumnDef="EffectiveDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                            style="font-size: initial;"> Effective Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.EffectiveDate | date:'dd/MM/yyyy'}}
                                        </td>
                                    </ng-container> -->

                                    <ng-container matColumnDef="statusName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let row"> {{row.statusName}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <button mat-raised-button type="button" matTooltip="Edit"
                                                [matTooltipPosition]="'above'"
                                                [routerLink]="['/dataManager/tpamember/import/edit']"
                                                [queryParams]="{IC_Number:row.IC, Batch_Number:row.Batch_Number}"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon"
                                                *ngIf="row.statusName==='Pending'">
                                                <i class="material-icons">edit</i>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="tpaMemberImportColumn"></tr>
                                    <tr mat-row *matRowDef="let row; columns: tpaMemberImportColumn;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>