<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">TPA Benefits</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <button mat-raised-button [routerLink]="['/benefitOption/tpabenefits/add']"
                                    color="primary">Add TPABenefits</button>
                            </div>
                            <div class="mat-elevation-z8 mt-2">
                                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                                    [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                                </mat-paginator>
                                <table mat-table class="table" style="width: 100%;" matSort aria-label="Elements"
                                    [dataSource]="dataSource">
                                    <!-- Id Column -->
                                    <ng-container matColumnDef="Benefit_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Benefit Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Benefit_Name}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Model_Type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model type </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Model_Type}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Invoice_Day">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Day of Invoice </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Invoice_Day}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="Invoice_Frequency">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Invoice Frequency </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Invoice_Frequency}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="Start_Date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Start_Date | date:"dd-MM-yyyy"}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="End_Date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.End_Date | date:"dd-MM-yyyy"}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Claim_Type">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Claim Type </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Claim_Type}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <div class="btn-group" role="group">
                                                <button mat-raised-button
                                                    [routerLink]="['/benefitOption/tpabenefits',row.TPA_Benefit_ID]"
                                                    type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button
                                                    [routerLink]="['/benefitOption/tpabenefits/view',row.TPA_Benefit_ID]"
                                                    type="button" matTooltip="View" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                            </div>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>