<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                        </div>
                        <form [formGroup]="companyTreatmentPlanForm" class="mt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Choose Company</mat-label>
                                        <mat-select name="company" formControlName="Company_ID"
                                            (selectionChange)="onCompanySelect($event)">
                                            <mat-option *ngFor="let company of companyList"
                                                [value]="company.Company_ID">
                                                {{company.Company_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Master TPA ID</mat-label>
                                        <input type="text" name="Master_TPA_ID" id="Master_TPA_ID"
                                            formControlName="Master_TPA_ID" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Choose Insurer</mat-label>
                                        <mat-select name="insurer" formControlName="Insurer_ID">
                                            <mat-option *ngFor="let ins of insurer" [value]="ins.Insurer_ID">
                                                {{ins.Insurer_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Choose Treatment Plan</mat-label>
                                        <mat-select name="plan" formControlName="Principal_Plan_ID">
                                            <mat-option *ngFor="let principal of principalList"
                                                [value]="principal.Treatment_Plan_ID">
                                                {{principal.Treatment_Plan_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Choose Start date</mat-label>
                                        <input matInput [matDatepicker]="Start" formControlName="Start_Date">
                                        <mat-datepicker-toggle matSuffix [for]="Start"></mat-datepicker-toggle>
                                        <mat-datepicker #Start></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Choose End date</mat-label>
                                        <input matInput [matDatepicker]="End" formControlName="End_Date">
                                        <mat-datepicker-toggle matSuffix [for]="End"></mat-datepicker-toggle>
                                        <mat-datepicker #End></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Choose Dependant Plan</mat-label>
                                        <mat-select name="dependant" formControlName="Dependent_Plan_ID">
                                            <mat-option *ngFor="let principal of principalList"
                                                [value]="principal.Treatment_Plan_ID">
                                                {{principal.Treatment_Plan_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Choose Service Type</mat-label>
                                        <mat-select name="service" formControlName="Service_Type_ID">
                                            <mat-option *ngFor="let service of serviceType"
                                                [value]="service.Service_Type_ID">
                                                {{service.Service_Type_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Maximum Age</mat-label>
                                        <input type="number" name="maxAge" id="maxAge" placeholder="Enter Maximum Age"
                                            formControlName="Max_Child_Age" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Scaling Polishing</mat-label>
                                        <input type="number" name="Max_Scaling_Polishing" id="Max_Scaling_Polishing"
                                            placeholder="Enter Scaling Polishing"
                                            formControlName="Max_Scaling_Polishing" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Treatment_Plan_Company_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Remarks</mat-label>
                                        <textarea name="remarks" id="remarks" matInput
                                            formControlName="Remarks"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mt-4 mb-2">
                            <button mat-raised-button color="primary" type="submit" (click)="addCompanyTreatmentPlan()"
                                *ngIf="isDisabled">{{btntext}}</button>
                            <button mat-raised-button color="primary" class="ml-3"
                                [routerLink]="['/dataManager/treatmentPlanCompany']" type="button">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>