<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Tooth Codes (Index)</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <button mat-raised-button [routerLink]="['/treatmentManager/toothCode/add']"
                                    color="primary">Add Tooth Codes</button>
                            </div>
                            <div class="mat-elevation-z8 mt-2">
                                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                            [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                        </mat-paginator>
                                <table mat-table class="full-width-table" style="width: 100%;" matSort
                                    aria-label="Elements" [dataSource]="dataSource">

                                    <ng-container matColumnDef="Tooth Code">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                                            Tooth Code </th>
                                        <td mat-cell *matCellDef="let row">{{row.Tooth_Code}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Remarks">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                                            Remarks </th>
                                        <td mat-cell *matCellDef="let row">{{row.Remarks}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary">
                                            Status </th>
                                        <td mat-cell *matCellDef="let row">{{row.Status_Name}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-primary"
                                            style="font-size: initial;"> Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <div class="btn-group" role="group">
                                                <button mat-raised-button
                                                    [routerLink]="['/treatmentManager/toothCode',row.Tooth_Code_ID]"
                                                    type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button
                                                    [routerLink]="['/treatmentManager/toothCode/view',row.Tooth_Code_ID]"
                                                    type="button" matTooltip="View" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>