<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Menu List</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <button mat-raised-button color="primary">Add Menu</button>
                            </div>
                            <div class="mat-elevation-z8 mt-2">
                                <table mat-table [dataSource]="dataSource" class="table table-hover table-bordered"
                                    multiTemplateDataRows>
                                    <ng-container matColumnDef="displayName">
                                        <th mat-header-cell *matHeaderCellDef>Group</th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.displayName}}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="children">
                                        <th mat-header-cell *matHeaderCellDef> First Level</th>
                                        <td mat-cell *matCellDef="let element">
                                            <ng-container *ngFor="let rule of element.children">
                                                {{ rule.displayName}}

                                        <td *ngFor="let child of rule.children">
                                            {{ child.displayName}}
                                        </td>
                                    </ng-container>
                                    </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>