<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Doctors - Clinics (Index)</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <button mat-raised-button [routerLink]="['/dataManager/doctor/clinics/add']"
                                    color="primary">Add Doctor's Clinic</button>
                            </div>
                            <div class="mat-elevation-z8 mt-2">
                                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                            [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                        </mat-paginator>
                                <table mat-table class="table table-bordered" style="width: 100%;" matSort
                                    aria-label="Elements" [dataSource]="dataSource">
                                    <!-- Id Column -->
                                    <ng-container matColumnDef="Doctor_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Doctor Name</th>
                                        <td mat-cell *matCellDef="let row"> {{row.Doctor_Name}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="Clinic_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic Name </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Clinic_Name}} </td>
                                    </ng-container>


                                    <ng-container matColumnDef="Effective_Date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Effective Date </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Effective_Date | date:"dd/MM/yyyy"}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Status_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Status_Name}}
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <div class="btn-group" role="group">
                                                <button mat-raised-button type="button" matTooltip="Edit"
                                                [matTooltipPosition]="'above'"
                                                [routerLink]="['/dataManager/doctor-clinic-profile/',row.Doctor_Clinic_ID]"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button mat-raised-button type="button" matTooltip="View"
                                                [matTooltipPosition]="'above'"
                                                [routerLink]="['/dataManager/doctor-clinic-profile/view',row.Doctor_Clinic_ID]"
                                                class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                <i class="material-icons">visibility</i>
                                            </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>