<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive w-100">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <div class="col-md-3">
                                    <input type="file" accept=".xlsx, .xls" #file [hidden]=true
                                        (change)="onFileChange($event)">
                                    <button (click)="file.click()" color="primary" mat-raised-button>Import
                                        file</button>
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="full-width" appearance="none">
                                        <mat-label>File Name:</mat-label>
                                        <input type="text" matInput [(ngModel)]="fileName">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-6">
                                    <mat-form-field class="full-width" appearance="none">
                                        <mat-label>File Name:</mat-label>
                                        <input type="text" matInput [(ngModel)]="fileName">
                                    </mat-form-field>
                                </div> -->
                            </div>
                            <div class="mt-4">
                                <table class="table table-bordered">
                                    <!-- <thead>
                                        <tr>
                                            
                                            <th *ngFor="let cell of displayedColumns">{{cell}}</th>
                                        </tr>
                                    </thead> -->
                                    <tbody>
                                        <tr *ngFor="let row of data | keyvalue">
                                            <td [(ngModel)]="row.value['referenceNumber']" name="fieldName"
                                                ngDefaultControl>
                                                {{row.value['referenceNumber']}}
                                            </td>
                                            <td [(ngModel)]="row.value['No.']" name="fieldName" ngDefaultControl>
                                                {{row.value['No']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Action']" name="fieldName" ngDefaultControl
                                                [style.background-color]="!row.value['actionundefined'] ? '' : 'red'">
                                                {{row.value['Action']}}
                                            </td>
                                            <td [(ngModel)]="row.value['TPA_MASTER']" name="fieldName1" ngDefaultControl
                                                [style.background-color]="!row.value['tpaMasterUndefined'] ? '' : 'red'">
                                                {{row.value['TPA_MASTER']}}
                                            </td>
                                            <td [(ngModel)]="row.value['StaffCode']" name="fieldName2" ngDefaultControl>
                                                {{row.value["StaffCode"]}}
                                            </td>
                                            <td [(ngModel)]="row.value.Name" name="fieldName3" ngDefaultControl>
                                                {{row.value.Name}}
                                            </td>
                                            <td [(ngModel)]="row.value['IC']" name="fieldName4" ngDefaultControl
                                                [style.background-color]="!row.value['icUndefined'] ? '' : 'red'">
                                                {{row.value['IC']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Relationship']" name="fieldName5"
                                                ngDefaultControl
                                                [style.background-color]="!row.value['relationshipOthers'] ? '' : 'red'">
                                                {{row.value['Relationship']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Gender']" name="fieldName6" ngDefaultControl
                                                [style.background-color]="!row.value['genderOthers'] ? '' : 'red'">
                                                {{row.value['Gender']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Ref']" name="fieldName7" ngDefaultControl>
                                                {{row.value['Ref']}}
                                            </td>
                                            <td [(ngModel)]="row.value['DOB']" name="fieldName8" ngDefaultControl>
                                                {{row.value['DOB']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Race']" name="fieldName9" ngDefaultControl>
                                                {{row.value['Race']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Nationality']" name="fieldName10"
                                                ngDefaultControl>{{row.value['Nationality']}}
                                            </td>
                                            <td [(ngModel)]="row.value['EffectiveDate']" name="fieldName11"
                                                ngDefaultControl>
                                                {{row.value['EffectiveDate']}}
                                            </td>
                                            <td [(ngModel)]="row.value['ExpiryDate']" name="fieldName12"
                                                ngDefaultControl>
                                                {{row.value['ExpiryDate']}}
                                            </td>

                                            <td [(ngModel)]="row.value['Plan']" name="fieldName13" ngDefaultControl>
                                                {{row.value['Plan']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Category']" name="fieldName13" ngDefaultControl>
                                                {{row.value['Category']}}
                                            </td>
                                            <td [(ngModel)]="row.value['IndividualLimit']" name="fieldName14"
                                                ngDefaultControl>
                                                {{row.value['IndividualLimit']}}
                                            </td>
                                            <td [(ngModel)]="row.value['FamilyLimit']" name="fieldName15"
                                                ngDefaultControl>
                                                {{row.value['FamilyLimit']}}
                                            </td>
                                            <td [(ngModel)]="row.value['SharedLimit']" name="fieldName16"
                                                ngDefaultControl>
                                                {{row.value['SharedLimit']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Mobile']" name="fieldName16" ngDefaultControl>
                                                {{row.value['Mobile']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Phone']" name="fieldName17" ngDefaultControl>
                                                {{row.value['Phone']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Email']" name="fieldName18" ngDefaultControl>
                                                {{row.value['Email']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Maritalstatus']" name="fieldName19"
                                                ngDefaultControl>
                                                {{row.value['Maritalstatus']}}
                                            </td>
                                            <td [(ngModel)]="row.value['PrincipalAddress']" name="fieldName20"
                                                ngDefaultControl>
                                                {{row.value['PrincipalAddress']}}
                                            </td>
                                            <td [(ngModel)]="row.value['City']" name="fieldName21" ngDefaultControl>
                                                {{row.value['City']}}
                                            </td>
                                            <td [(ngModel)]="row.value['State']" name="fieldName22" ngDefaultControl>
                                                {{row.value['State']}}
                                            </td>
                                            <td [(ngModel)]="row.value['Postcode']" name="fieldName23" ngDefaultControl>
                                                {{row.value['Postcode']}}
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mt-2 mx-auto">
                                    <mat-form-field class="full-width">
                                        <mat-label>Batch No</mat-label>
                                        <input type="text" name="GeneratedNo" id="batch" matInput disabled
                                            [(ngModel)]="batchNumber">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-2 mx-auto">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" [(ngModel)]="status_id">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-3 mt-3 mb-2 mx-auto">
                                    <button color="primary" mat-raised-button
                                        (click)="generateBatchNo()">Generate</button>
                                </div> -->
                                <div class="col-md-3 mt-3 mb-2 mx-auto">
                                    <button color="primary" mat-raised-button
                                        (click)="saveTPAMemberData()">Save</button>
                                </div>
                                <div class="col-md-3 mt-3 mb-2 mx-auto">
                                    <button mat-raised-button [routerLink]="['/dataManager/tpamember/import/list']"
                                        color="primary">Back</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>