<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">Master TPA Company Setup</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                <button mat-raised-button [routerLink]="['/dataManager/master-tpa-profile/create']" color="primary">Add
                  Master TPA Company Setup</button>
              </div>
              <div class="mat-elevation-z8 mt-2">
                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                  [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                </mat-paginator>
                <table mat-table class="table table-bordered table-hover" style="width: 100%;" matSort
                  aria-label="Elements" [dataSource]="dataSource">
                  <!-- Id Column -->
                  <ng-container matColumnDef="Master_TPA_ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>MasterTPA Id</th>
                    <td mat-cell *matCellDef="let row"> {{row.Master_TPA_ID}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="Company_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.Company_Name}} </td>
                  </ng-container>


                  <!-- <ng-container matColumnDef="Benefit_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Benefit Plan </th>
                    <td mat-cell *matCellDef="let row"> {{row.Benefit_Name}} </td>
                  </ng-container> -->

                  <!-- <ng-container matColumnDef="Benefit_Plan_ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Benefit Plan Id </th>
                    <td mat-cell *matCellDef="let row"> {{row.Benefit_Plan_ID}} </td>
                  </ng-container> -->

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                      <div class="btn-group" role="group">
                        <button mat-raised-button [routerLink]="['/dataManager/master-tpa-profile',row.MasterTPAID]"
                          type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button
                          [routerLink]="['/dataManager/master-tpa-profile/view',row.MasterTPAID]" type="button"
                          matTooltip="View" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">visibility</i>
                        </button>
                        <button mat-raised-button type="button"
                          (click)="addMasterTPABenefits(row.Master_TPA_ID, row.MasterTPAID)" color="primary"
                          class="mb-0 mt-0 btn-sm ml-2">
                          Float
                        </button>
                        <button mat-raised-button type="button"
                          (click)="addSubscription(row.Master_TPA_ID, row.MasterTPAID)" color="primary"
                          class="mb-0 mt-0 btn-sm ml-2">
                          Subscription
                        </button>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>