<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Treatment Code (Index)</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <button mat-raised-button [routerLink]="['/treatmentManager/treatmentCode/add']"
                                    color="primary">Add Treatment Code</button>
                            </div>
                            <div class="mat-elevation-z8 mt-2">
                                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                                    [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                                </mat-paginator>
                                <table mat-table class="table table-bordered table-hover table-striped"
                                    style="width: 100%;" matSort aria-label="Elements" [dataSource]="dataSource">

                                    <ng-container matColumnDef="Treatment_Code">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment Code </th>
                                        <td mat-cell *matCellDef="let row">{{row.Treatment_Code}}</td>
                                    </ng-container>


                                    <!-- Treatment_Group_Description -->
                                    <ng-container matColumnDef="Treatment_Group_Description">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment Group </th>
                                        <td mat-cell *matCellDef="let row">{{row.Treatment_Group_Description}}</td>
                                    </ng-container>


                                    <ng-container matColumnDef="Treatment_Rate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Treatment Rate </th>
                                        <td mat-cell *matCellDef="let row">{{row.Treatment_Rate}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Start_Date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
                                        <td mat-cell *matCellDef="let row">{{row.Start_Date | date:'dd/MM/yyyy'}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="End_Date">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
                                        <td mat-cell *matCellDef="let row">{{row.End_Date | date:'dd/MM/yyyy'}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Remarks">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                                        <td mat-cell *matCellDef="let row">{{row.Remarks}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Status_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let row">{{row.Status_Name}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <div class="btn-group" role="group">
                                                <button mat-raised-button
                                                    [routerLink]="['/treatmentManager/treatmentCode',row.Treatment_Code_ID]"
                                                    type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button
                                                    [routerLink]="['/treatmentManager/treatmentCode/view',row.Treatment_Code_ID]"
                                                    type="button" matTooltip="View" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                            </div>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>