<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="doctorClinicsForm" class="mt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Doctor Name</mat-label>
                                        <mat-select name="doctor" formControlName="Doctor_ID">
                                            <mat-option *ngFor="let doctor of doctorsList" [value]="doctor.Doctor_ID">
                                                {{doctor.Doctor_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="to" formControlName="Effective_Date">
                                        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                                        <mat-datepicker #to></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Doctor_Clinic_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="mat-elevation-z4 mt-2">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Clinic Name</th>
                                        <th class="text-center">Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let clinic of clinicsList;let i = index;">
                                        <td>{{clinic.Clinic_Name}}</td>
                                        <td class="text-center">
                                            <mat-checkbox (change)="onSelectionChange($event, clinic)"
                                                [checked]="clinic.clinicId" [disabled]="urlText[3]==='view'">
                                            </mat-checkbox>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                                (click)="addDoctorClinic()">{{btntext}}</button>
                            <button mat-raised-button color="primary" class="ml-3"
                                [routerLink]="['/dataManager/doctor/clinics']" type="button">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>