<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{patEligibility.Title}}</h4>
                    </div>
                    <div class="card-body">
                        <ng-container *ngIf="!isEligible">
                            <div class="row">
                                <div class="col-md-4 mt-2">
                                    <mat-label>{{eligibility.PolicyNumber.displayname}}</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input type="text" name="policyNumber" id="policy" matInput
                                            [(ngModel)]="patientEligibility.Policy_Number">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button type="button" class="btn-block" mat-raised-button color="primary"
                                (click)="getPolicyDetails()"
                                [disabled]="patientEligibility.Policy_Number == null && patientEligibility.Policy_Number == undefined">
                                {{eligibility.buttonText2}}
                            </button>
                            <ng-container *ngIf="isBtnClicked">
                                <div class="mat-elevation-z4 mt-4">
                                    <div class="row">
                                        <div class="col-md-4 mt-2 ml-2">
                                            <mat-label>Principal Name</mat-label>
                                        </div>
                                        <div class="col-md-5">
                                            <mat-form-field>
                                                <input type="text" name="principal" id="patient" matInput
                                                    [(ngModel)]="patientEligibility.Principal_Name">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <span class="mt-3">
                                        Is this Principal Phone Number? if Not Plaese update the Latest Here
                                        <mat-form-field>
                                            <input type="text" name="" id="" matInput
                                                [(ngModel)]="patientEligibility.Phone_Number">
                                        </mat-form-field>
                                    </span>
                                </div>
                                <div class="mat-elevation-z4 mt-2">
                                    <div class="row">
                                        <div class="col-md-4 mt-3">
                                            <mat-label>{{eligibility.Patient.displayname}}</mat-label>
                                        </div>
                                        <div class="col-md-6">
                                            <mat-form-field>
                                                <mat-select [(value)]="patientEligibility.Patient_ID">
                                                    <mat-option></mat-option>
                                                    <mat-option *ngFor="let patient of patientList"
                                                        [value]="patient.Company_ID">
                                                        {{patient.Patient_Name}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center mt-4">
                                    <button type="button" mat-raised-button color="primary"
                                        (click)="patientEligibleCheck(patientEligibility.Patient_ID)">
                                        {{eligibility.buttonText1}}
                                    </button>
                                </div>
                            </ng-container>
                        </ng-container>
                        <ng-container *ngIf="isEligible">
                            <h5 class="mat-display-1">Medident Dental Health Card Holder Details</h5>
                            <div class="table-responsive">
                                <!-- <div class="mat-elevation-z4"> -->
                                <table class="table table-borderless table-hover table-striped">
                                    <tr>
                                        <td>Principal Name</td>
                                        <td>{{patientEligibility.Principal_Name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Patient Name</td>
                                        <td>{{patientEligibility.Patient_Name}}</td>
                                    </tr>
                                    <tr>
                                        <td>IC Number</td>
                                        <td>{{patientEligibility.IC}}</td>
                                    </tr>
                                    <tr>
                                        <td>Mobile Number</td>
                                        <td>{{patientEligibility.Phone_Number}}</td>
                                    </tr>
                                    <!-- </div> -->

                                    <!-- <div class="mat-elevation-z4"> -->
                                    <tr>
                                        <td>Policy Number</td>
                                        <td>{{patientEligibility.Policy_Number}}</td>
                                    </tr>
                                </table>
                                <mat-list>
                                    <mat-list-item>
                                        <button mat-raised-button color="primary" type="button"
                                            class="btn btn-outline-secondary btn-block">
                                            if coverage printed on card is different from Coverage given above
                                            please call medident
                                        </button>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <button mat-raised-button color="primary" type="button"
                                            class="btn btn-outline-secondary btn-block">
                                            This Patient is eligible for Scaling and Polishing
                                        </button>
                                    </mat-list-item>
                                    <mat-list-item>
                                        <button mat-raised-button color="primary" type="button"
                                            class="btn btn-outline-secondary btn-block">
                                            Call Medident at 03-20709188 to confirm Eligibility for Category
                                            III, IV
                                            and V
                                        </button>
                                    </mat-list-item>
                                </mat-list>
                                <!-- </div> -->
                            </div>
                            <div class="text-center mt-4">
                                <button type="button" mat-raised-button color="warn" (click)="isEligible = !isEligible">
                                    <i class="material-icons">home</i>
                                    Back to Home
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>