<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Treatment Plan</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                                <button mat-raised-button [routerLink]="['/dataManager/treatmentPlan/add']"
                                    color="primary">Add Treatment Plan</button>
                            </div>
                            <div class="mat-elevation-z8">
                                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                                    [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                                </mat-paginator>
                                <table mat-table class="table table-hover table-striped" style="width: 100%;" matSort
                                    aria-label="Elements" [dataSource]="dataSource">


                                    <ng-container matColumnDef="Treatment_Plan_Code">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Treatment Plan Code </th>
                                        <td mat-cell *matCellDef="let row">{{row.Treatment_Plan_Code}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Treatment_Plan_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Treatment Plan Name </th>
                                        <td mat-cell *matCellDef="let row">{{row.Treatment_Plan_Name}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Treatment_Plan_Type_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Treatment Plan Type </th>
                                        <td mat-cell *matCellDef="let row">{{row.Treatment_Plan_Type_Name}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Status_Name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Status </th>
                                        <td mat-cell *matCellDef="let row">{{row.Status_Name}}</td>
                                    </ng-container>

                                    <ng-container matColumnDef="Action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                            Action </th>
                                        <td mat-cell *matCellDef="let row">
                                            <div class="btn-group">
                                                <button mat-raised-button
                                                    [routerLink]="['/dataManager/treatmentPlan/',row.Treatment_Plan_ID]"
                                                    type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button
                                                    [routerLink]="['/dataManager/treatmentPlan/view',row.Treatment_Plan_ID]"
                                                    type="button" matTooltip="View" [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                            </div>
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>