<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{toptitle}}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="TPAMemberForm">
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>MasterTPAID</mat-label>
                    <mat-select name="masterTPA" formControlName="New_Master_TPA_ID"
                      (selectionChange)="BindingValue($event)">
                      <mat-option *ngFor="let masterTPA of masterTPAList" [value]="masterTPA.New_Master_TPA_ID">
                        {{masterTPA.New_Master_TPA_ID}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>


                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Company ID</mat-label>
                    <mat-select name="company" formControlName="Company_ID">
                      <mat-option *ngFor="let company of companyList" [value]="company.Company_ID">
                        {{company.Company_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Principal ID</mat-label>
                    <mat-select name="Principal" formControlName="Principal_ID">
                      <mat-option *ngFor="let employee of employeeList" [value]="employee.Employee_ID">
                        {{employee.Employee_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>No_of Members</mat-label>
                    <input matInput placeholder="No_of Members" formControlName="No_of_Members">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Individual Limit</mat-label>
                    <input matInput placeholder="Individual Limit" formControlName="Individual_Limit">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Family Limit</mat-label>
                    <input matInput placeholder="Family Limit" formControlName="Family_Limit">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field class="full-width">
                    <mat-label>Shared</mat-label>
                    <input matInput placeholder="Shared" formControlName="Shared">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>TPA ID</mat-label>
                    <input matInput placeholder="TPA_ID" formControlName="TPA_ID">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <button mat-raised-button color="primary" type="submit" style="margin-left: 15px;"
                    (click)="generateTPAID()" *ngIf="isDisabledGenerate">Generate</button>
                </div>
              </div>
            </form>
          </div>

          <br />
          <mat-card-actions class="col-md-10 mb-2 text-center">
            <div class="row">
              <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                (click)="addMasterTPASetup()" *ngIf="isDisabled">{{btntext}}</button>
              <!-- <button mat-raised-button color="primary" type="submit" style="margin-left: 15px;"
                (click)="generateTPAID()" *ngIf="isDisabledGenerate">Generate</button> -->
              <button mat-raised-button color="primary" [routerLink]="['/dataManager/tpamember']"
                style="margin-left: 15px;" type="submit">Back</button>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>