<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="nationalityMaster">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-label>Nationality Name</mat-label>
                                    <mat-form-field>
                                        <input type="text" name="cityName" id="cityName" matInput
                                            placeholder="Enter Nationality Name" formControlName="Nationality_Name">
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <mat-card-actions class="text-center">
                            <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                                *ngIf="isDisabled" (click)="addNationality()">{{btntext}}</button>
                            <button mat-raised-button color="primary" [routerLink]="['/nationality']"
                                style="margin-left: 15px;" type="submit">Back</button>
                        </mat-card-actions>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>