<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">{{toptitle}}</h4>
            </div>
            <div class="card-body">
              <form [formGroup]="dependentForm">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <mat-label>Dependent Name</mat-label>
                      <input matInput placeholder="Dependent Name" formControlName="Dependent_Name">
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <mat-label>Dependent NRIC Number</mat-label>
                      <input matInput placeholder="Dependent NRIC Number" formControlName="Dependent_NRIC_No">
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <mat-label>Principal ID</mat-label>
                        <mat-select name="employee" formControlName="Employee_ID">
                            <mat-option *ngFor="let employee of employeeList" [value]="employee.Employee_ID">
                                {{employee.Employee_Name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-md-6">
                    <mat-form-field class="full-width">
                      <mat-label>Dependent DOB</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="Dependent_DOB">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-4">
                    <mat-form-field class="full-width">
                      <mat-label>Dependent Gender</mat-label>
                      <mat-select name="gender" formControlName="Dependent_Gender_ID">
                        <mat-option *ngFor="let gender of GenderList" [value]="gender.Gender_ID">
                          {{gender.Gender_Name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
  
                  <div class="col-md-4">
                    <mat-form-field class="full-width">
                      <mat-label>Relationship</mat-label>
                      <mat-select name="relation" formControlName="Relationship_ID">
                        <mat-option *ngFor="let relation of relationsList" [value]="relation.RelationShip_ID">
                          {{relation.Relationship_Name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
              </form>
              <br />
              <mat-card-actions class="col-md-10 text-center">
                <div class="row">
                  <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                    (click)="addMasterTPASetup()" *ngIf="isDisabled">{{btntext}}</button>
                  <button mat-raised-button color="primary" [routerLink]="['/dataManager/dependent']" style="margin-left: 15px;"
                    type="submit">Back</button>
                </div>
              </mat-card-actions>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div>
  </div>