<h2 mat-dialog-title>Assign To Clinic</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="userClinicForm">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Choose Clinic</mat-label>
                    <mat-select formControlName="Clinic_ID">
                        <mat-option *ngFor="let clinic of clinicsList" [value]="clinic.Clinic_ID">
                            {{clinic.Clinic_Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="User_Clinic_Status_ID">
                        <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                            {{status.Status_Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close color="accent">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial
        (click)="assignClinicUser()">Save</button>
</mat-dialog-actions>