<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Update TPA Member Import</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Action Status</mat-label>
                    <input matInput type="text" name="statusAction" id="statusAction"
                      [(ngModel)]="tpaMemberImportRequest.Action_Status">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Staff Code</mat-label>
                    <input matInput type="text" name="staffcode" id="staffcode"
                      [(ngModel)]="tpaMemberImportRequest.Staff_Code">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput type="text" name="staffname" id="staffname"
                      [(ngModel)]="tpaMemberImportRequest.Staff_Name">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>IC_Number</mat-label>
                    <input matInput type="text" name="IC_Number" id="IC_Number"
                      [(ngModel)]="tpaMemberImportRequest.IC_Number">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Relationship</mat-label>
                    <input matInput type="text" name="Relationship" id="Relationship"
                      [(ngModel)]="tpaMemberImportRequest.Relationship">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Nationality</mat-label>
                    <input matInput type="text" name="Nationality" id="Nationality"
                      [(ngModel)]="tpaMemberImportRequest.Nationality">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Gender</mat-label>
                    <input matInput type="text" name="Gender" id="Gender" [(ngModel)]="tpaMemberImportRequest.Gender">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Reference Date</mat-label>
                    <input matInput [matDatepicker]="dp" [(ngModel)]="tpaMemberImportRequest.Ref_Date"
                      name="ReferenceDate">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="dp1" [(ngModel)]="tpaMemberImportRequest.Date_Of_Birth" name="dob">
                    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                    <mat-datepicker #dp1></mat-datepicker>
                  </mat-form-field>
                </div>


                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Effective Date</mat-label>
                    <input matInput [matDatepicker]="dp2" [(ngModel)]="tpaMemberImportRequest.Effective_Date"
                      name="Effective_Date">
                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                    <mat-datepicker #dp2></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Expiry Date</mat-label>
                    <input matInput [matDatepicker]="dp3" [(ngModel)]="tpaMemberImportRequest.Exp_Date" name="Exp_Date">
                    <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                    <mat-datepicker #dp3></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>TPA Plan</mat-label>
                    <!-- <input matInput name="TPA_Plan" id="TPA_Plan" [(ngModel)]="tpaMemberImportRequest.TPA_Plan"> -->
                    <mat-select name="status" [(value)]="tpaMemberImportRequest.Treatment_Plan_ID"
                      (selectionChange)="onPlanSelect($event)">
                      <mat-option *ngFor="let plan of treatmentPlanList" [value]="plan.Treatment_Plan_ID">
                        {{plan.Treatment_Plan_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Individual Limit</mat-label>
                    <input matInput name="Individual_Limit" id="Individual_Limit"
                      [(ngModel)]="tpaMemberImportRequest.Individual_Limit">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Family Limit</mat-label>
                    <input matInput name="Family_Limit" id="Family_Limit"
                      [(ngModel)]="tpaMemberImportRequest.Family_Limit">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Shared Limit</mat-label>
                    <input matInput name="Shared_limit" id="Shared_limit"
                      [(ngModel)]="tpaMemberImportRequest.Shared_limit">
                  </mat-form-field>
                </div>

                <!-- <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Treatment Category</mat-label>
                    <input matInput name="Category" id="Category" [(ngModel)]="tpaMemberImportRequest.Category">
                    <mat-select name="status" [(value)]="tpaMemberImportRequest.Treatment_Category_ID"
                      (selectionChange)="onCategorySelect($event)">
                      <mat-option *ngFor="let category of treatmentCategoryList"
                        [value]="category.Treatment_Category_ID">
                        {{'(' + category.Category_Number + ')' + '  ' + category.Remarks}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Principal Email Address</mat-label>
                    <input type="email" matInput [(ngModel)]="tpaMemberImportRequest.Email_Address" name="Email"
                      id="Email">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Principal Address</mat-label>
                    <textarea matInput [(ngModel)]="tpaMemberImportRequest.Principal_Address" name="Address"
                      id="Address"></textarea>
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Principal State</mat-label>
                    <input matInput [(ngModel)]="tpaMemberImportRequest.Principal_State" name="State" type="text"
                      id="State">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Principal City</mat-label>
                    <input matInput [(ngModel)]="tpaMemberImportRequest.Principal_City" name="City" type="text"
                      id="City">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Mobile Number</mat-label>
                    <input matInput [(ngModel)]="tpaMemberImportRequest.Mobile_Number" name="Mobile" type="text"
                      id="Mobile">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Phone Number</mat-label>
                    <input matInput [(ngModel)]="tpaMemberImportRequest.Mobile_Number" name="Phone" id="Phone">
                  </mat-form-field>
                </div>

                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Remarks</mat-label>
                    <textarea matInput [(ngModel)]="tpaMemberImportRequest.Remarks" name="remarks"
                      id="remarks"></textarea>
                  </mat-form-field>
                </div>

                <div class="col-md-4 mt-2">
                  <mat-checkbox (change)="OnConfirmation($event)" [checked]="confirm_Checked">Confirm</mat-checkbox>
                  <!-- <mat-form-field class="full-width">
                    <mat-label>Status</mat-label>
                    <mat-select name="status" [(value)]="tpaMemberImportRequest.TPA_Import_Status_ID">
                      <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                        {{status.Status_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </div>

              </div>

              <div class="text-center">
                <button color="primary" mat-raised-button type="submit"
                  (click)="saveTPAMemberData(tpaMemberImportRequest)">Save</button>
                <button mat-raised-button [routerLink]="['/dataManager/tpamember/import/list']" color="primary"
                  class="ml-2">Back</button>
              </div>

            </form>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</div>