<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="doctorForm">
                            <h4 class="mt-3">Doctor Information</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>IC No/Passport No.</mat-label>
                                        <input matInput placeholder="IC No/Passport No."
                                            formControlName="Doctor_IC_Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Nationality</mat-label>
                                        <mat-select name="nationality" formControlName="Doctor_Nationality_ID">
                                            <mat-option *ngFor="let nationality of NationalityList"
                                                [value]="nationality.Nationality_ID">
                                                {{nationality.Nationality_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>MDC Code</mat-label>
                                        <input matInput placeholder="MMC Code" formControlName="Doctor_MDC_Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>APC Code</mat-label>
                                        <input matInput placeholder="MMC Code" formControlName="Doctor_APC_Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Expiry Date</mat-label>
                                        <!-- <input matInput placeholder="MMC Code" formControlName="Doctor_APC_Code"> -->
                                        <input matInput [matDatepicker]="picker" formControlName="Expiry_Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <h4 class="mt-3">Doctor Personal Data</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Name</mat-label>
                                        <input matInput placeholder="Enter Doctor Name" formControlName="Doctor_Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>State</mat-label>
                                        <mat-select name="state" formControlName="Doctor_State_ID">
                                            <mat-option *ngFor="let state of stateList" [value]="state.State_ID">
                                                {{state.State_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>City</mat-label>
                                        <mat-select name="city" formControlName="Doctor_City">
                                            <mat-option *ngFor="let city of cityList" [value]="city.City_ID">
                                                {{city.City_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Address</mat-label>
                                        <textarea matInput placeholder="Address"
                                            formControlName="Doctor_Address"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Tel.No</mat-label>
                                        <input matInput placeholder="Enter Telephine Number"
                                            formControlName="Doctor_TelephoneNo">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>H/P.No</mat-label>
                                        <input matInput placeholder="Enter HandTelephine Number"
                                            formControlName="Doctor_HandphoneNo">
                                    </mat-form-field>
                                </div>
                            </div>
                            <h4 class="mt-3">Doctor Details</h4>
                            <hr>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Specialist</mat-label>
                                        <textarea matInput placeholder="Address"
                                            formControlName="Specialist"></textarea>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Doctor_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <br />
                        <mat-card-actions class="col-md-10 text-center">
                            <button mat-raised-button color="primary" type="submit" (click)="addDoctor()"
                                *ngIf="isDisabled">{{btntext}}</button>
                            <button mat-raised-button color="primary" [routerLink]="['/dataManager/doctor']"
                                style="margin-left: 15px;" type="button">Back</button>
                        </mat-card-actions>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>