<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form class="mt-3" [formGroup]="tpaUserForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>User Name</mat-label>
                                        <input type="text" name="username" id="username" matInput
                                            placeholder="Enter UserName" formControlName="User_Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Password</mat-label>
                                        <input [type]="showHide ? 'text' : 'password'" name="username" id="username"
                                            matInput placeholder="Enter Password" formControlName="User_Password">
                                        <i class="material-icons" matSuffix style="cursor: pointer;"
                                            (click)="showHide = !showHide">{{showHide ? 'visibility_off' : 'visibility'}}</i>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>User Type</mat-label>
                                        <mat-select formControlName="User_Type_ID">
                                            <mat-option *ngFor="let userType of userTypeList"
                                                [value]="userType.User_Type_ID">
                                                {{userType.User_Type_Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="User_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-center mb-2">
                        <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                            (click)="addTPAUser()">
                            {{btntext}}
                        </button>
                        <button mat-raised-button color="primary" type="submit" class="ml-3" *ngIf="assignButton"
                            (click)="assignToClinic()">
                            Assign To Clinic
                        </button>
                        <button mat-raised-button color="primary" class="ml-3" [routerLink]="['/tpa-users']"
                            type="button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>