<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form class="mt-3" [formGroup]="serviceRequestForm">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>{{raiseRequest.RequestType.displayname}}</mat-label>
                                        <mat-select formControlName="Request_Type_ID">
                                            <mat-option *ngFor="let type of requestTypeList"
                                                [value]="type.Request_Type_ID">
                                                {{type.Request_Type_Description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>{{raiseRequest.RequestDate.displayname}}</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="Request_Date"
                                            [placeholder]="raiseRequest.RequestDate.placeHolder">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>{{raiseRequest.Request_By.displayname}}</mat-label>
                                        <mat-select formControlName="Request_By">
                                            <mat-option></mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4 mt-4">
                                    <mat-form-field>
                                        <mat-label>Status</mat-label>
                                        <mat-select formControlName="Request_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <mat-label>{{raiseRequest.Request_Description.displayname}}</mat-label>
                                        <textarea matInput formControlName="Request_Description"
                                            [placeholder]="raiseRequest.Request_Description.placeHolder"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-center mb-2">
                        <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                            (click)="saveServiceRequest()">
                            {{btntext}}
                        </button>
                        <button mat-raised-button color="primary" class="ml-3" [routerLink]="['/support']"
                            type="button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>