<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="productForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Product Code</mat-label>
                                        <input matInput placeholder="Product Code" formControlName="Product_Code">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Product Description</mat-label>
                                        <input matInput placeholder="Product Description"
                                            formControlName="Product_Description">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Product_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                            </div>
                        </form>
                        <br />
                        <mat-card-actions class="col-md-10 text-center">
                            <div class="row">
                                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit" (click)="addProduct()"
                                    *ngIf="isDisabled">{{btntext}}</button>
                                <button mat-raised-button color="primary" [routerLink]="['/dataManager/product']"
                                    style="margin-left: 15px;" type="submit">Back</button>
                            </div>
                        </mat-card-actions>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>