<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">

                        </div>
                        <form [formGroup]="insuranceCompanyForm" class="mt-3" autocomplete="off">
                            <div class="row">
                                <div class="col-md-4 mt-2">
                                    <mat-label>Insurance Code</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput type="text" name="planCode" id="plancode"
                                            placeholder="Enter Plan Code" formControlName="Insurer_Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label>Insurance Name</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput type="text" name="planName" id="planName"
                                            placeholder="Enter Plan Name" formControlName="Insurer_Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label>Insurance Type</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput name="Category" id="Category"
                                            formControlName="Insurer_Type_Code" placeholder="Enter Insurance Type Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label>Insurer Image</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <input type="file" name="file" id="file" #file (change)="onFileSelect($event)">
                                </div>
                                <div class="col-md-4">
                                    <mat-label>Status</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Insurer_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mt-4 mb-2">
                            <button mat-raised-button color="primary" type="submit" (click)="saveInsurancCompany()"
                                *ngIf="isDisabled">{{btntext}}</button>
                            <button mat-raised-button color="primary" class="ml-3"
                                [routerLink]="['/dataManager/insuranceCompany']" type="button">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>