<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title ">All Clinics List</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <div class="row" style="float: left;margin-left: 15px;margin-top: 20px;">
                <button mat-raised-button [routerLink]="['/dataManager/clinic-profile/create']" color="primary">Add
                  Clinic</button>
              </div>
              <div class="mat-elevation-z8 mt-2">
                <mat-paginator #paginator [length]="length" [pageIndex]="0" [pageSize]="20"
                            [pageSizeOptions]="[5, 10, 15, 20, 50]" showFirstLastButtons>
                        </mat-paginator>
                <table mat-table class="table table-bordered" style="width: 100%;" matSort aria-label="Elements"
                  [dataSource]="dataSource">
                  <!-- Id Column -->
                  <ng-container matColumnDef="Clinic_Code">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Clinic Code</th>
                    <td mat-cell *matCellDef="let row"> {{row.Clinic_Code}} </td>
                  </ng-container>

                  <!-- Name Column -->
                  <ng-container matColumnDef="Clinic_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.Clinic_Name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="State_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic State </th>
                    <td mat-cell *matCellDef="let row"> {{row.State_Name}} </td>
                  </ng-container>


                  <ng-container matColumnDef="City_Name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic City </th>
                    <td mat-cell *matCellDef="let row"> {{row.City_Name}} </td>
                  </ng-container>


                  <ng-container matColumnDef="Clinic_Address">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic Address </th>
                    <td mat-cell *matCellDef="let row"> {{row.Clinic_Address}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Clinic_Email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Clinic Email </th>
                    <td mat-cell *matCellDef="let row"> {{row.Clinic_Email}} </td>
                  </ng-container>

                  <ng-container matColumnDef="Action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button mat-raised-button [routerLink]="['/dataManager/clinic-profile',row.Clinic_ID]"
                        type="button" matTooltip="Edit" [matTooltipPosition]="'above'"
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">edit</i>
                      </button>
                      <button mat-raised-button [routerLink]="['/dataManager/clinic-profile/view',row.Clinic_ID]"
                        type="button" matTooltip="View" [matTooltipPosition]="'above'"
                        class="btn btn-primary btn-link btn-sm btn-just-icon">
                        <i class="material-icons">visibility</i>
                      </button>
                      </div>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>