<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="invoiceType === 'Company'? companyInvoice : clinicInvoice" class="mt-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>{{invoiceManager.CustomerType.displayname}}</mat-label>
                                        <mat-select name="doctor" formControlName="Customer_Type_ID"
                                            (selectionChange)="onCustomerTypeChange($event)"
                                            [placeholder]="invoiceManager.CustomerType.placeHolder">
                                            <mat-option *ngFor="let ctype of customerTypeList"
                                                [value]="ctype.Customer_Type_ID">
                                                {{ctype.Customer_Type_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Choose {{invoiceManager.CustomerName.displayname}}</mat-label>
                                        <mat-select name="doctor" formControlName="Clinic_ID"
                                            *ngIf="invoiceType==='Clinic'">
                                            <mat-option *ngFor="let customer of clinicsList"
                                                [value]="customer.Clinic_ID">
                                                {{customer.Clinic_Name}}</mat-option>
                                        </mat-select>
                                        <mat-select name="doctor" formControlName="Customer_ID"
                                            *ngIf="invoiceType==='Company'">
                                            <mat-option *ngFor="let customer of companyList"
                                                [value]="customer.Company_ID">
                                                {{customer.Company_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>{{invoiceManager.InvoiceNumber.displayname}}</mat-label>
                                        <input type="text" name="invoice" id="invoice" matInput
                                            formControlName="Invoice_Number"
                                            [placeholder]="invoiceManager.InvoiceNumber.placeHolder">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Select TPA Claim</mat-label>
                                        <mat-select formControlName="TPA_Claim_ID" *ngIf="invoiceType==='Clinic'"
                                            class="mt-0">
                                            <mat-option *ngFor="let claims of claimsList" [value]="claims.TPA_Claim_ID">
                                                {{claims.Clinic_Name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-select formControlName="TPA_Claim_ID" *ngIf="invoiceType==='Company'"
                                            class="mt-0">
                                            <mat-option *ngFor="let claims of claimsList" [value]="claims.TPA_Claim_ID">
                                                {{claims.Company_Name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="to" formControlName="Invoice_Date"
                                            [placeholder]="invoiceManager.InvoiceDate.placeHolder">
                                        <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                                        <mat-datepicker #to></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>{{invoiceManager.PaymentDue.displayname}}</mat-label>
                                        <mat-select name="Payment_Term" formControlName="Payment_Term"
                                            [placeholder]="invoiceManager.PaymentDue.placeHolder">
                                            <mat-option *ngFor="let due of invoiceManager.PaymentDue.values"
                                                [value]="due.Value">
                                                {{due.Text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Invoice_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <h5 class="text-center alert alert-primary">{{detailTitle}}</h5>
                        <div class="mat-elevation-z4 mt-2">
                            <form [formGroup]="invoiceType === 'Company'?companyDetailsInvoice:clinicDetailsInvoice">
                                <table class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let item of invoiceManager.InvoiceDetail.tableHeaders">{{item}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody
                                        [formArrayName]="invoiceType==='Company' ? 'companyinvoiceDetails': 'clinicinvoiceDetails'">
                                        <tr *ngFor="let control of invoiceDetails.controls;let i = index;"
                                            [formGroupName]="i">
                                            <td>
                                                <mat-form-field>
                                                    <input type="text" id="newAttributeCode" name="newAttributeCode"
                                                        matInput formControlName="Item_Description">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field>
                                                    <input type="number" id="newAttributeName" name="newAttributeName"
                                                        matInput formControlName="Item_Quantity" #quantity
                                                        (ngModelChange)="detectValueChange(i)">
                                                </mat-form-field>

                                            </td>
                                            <td>
                                                <mat-form-field>
                                                    <input type="number" id="newAttributePrice" name="newAttributePrice"
                                                        matInput formControlName="Item_Price" #price
                                                        (ngModelChange)="detectValueChange(i)">
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <mat-form-field class="mt-2">
                                                    <mat-select>
                                                        <mat-option *ngFor="let tax of taxTypeList"
                                                            [value]="tax.Tax_Type_ID">{{tax.Tax_Type_Name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td>
                                                <span>{{(price.value || 0) * (quantity.value || 1)}}
                                                    {{control.get('Item_Amount').patchValue((price.value || 0) * (quantity.value || 1))}}
                                                </span>
                                            </td>
                                            <td>
                                                <button *ngIf="invoiceDetails.controls.length > 1"
                                                    (click)="deleteFieldValue(i)" mat-button color="warn">
                                                    <mat-icon>clear</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <button mat-button color="accent" type="button"
                                                    (click)="addInvoiceDetails()">Add
                                                    an item</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="4">
                                                <span class="float-right">SubTotal:</span>
                                                <br>
                                                <mat-form-field class="float-right" style="display: block;">
                                                    <mat-label>Total</mat-label>
                                                    <mat-select>
                                                        <mat-option [value]="total.Value"
                                                            *ngFor="let total of invoiceManager.InvoiceDetail.TotalCurrency">
                                                            {{total.Text}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </td>
                                            <td class="align-top">
                                                <span>RM:{{calculateSubTotal()}}</span>
                                                <br>
                                                <span class="mt-3" style="display: block;">RM:0.00</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                        <div class="text-center">
                            <button mat-raised-button color="primary" type="submit" (click)="saveInvoice()"
                                *ngIf="isDisabled">{{btntext}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>