<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form class="mt-3" [formGroup]="treatmentCodeForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Treatment Group</mat-label>
                                        <mat-select formControlName="Treatment_Group_ID">
                                            <mat-option *ngFor="let group of treatmentGroupList"
                                                [value]="group.Treatment_Group_ID">
                                                {{group.Treatment_Group_Description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Treatment Code</mat-label>
                                        <input matInput type="text" name="code" id="code"
                                            formControlName="Treatment_Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Treatment Rate</mat-label>
                                        <input matInput type="text" name="code" id="code"
                                            formControlName="Treatment_Rate">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Start Date</mat-label>
                                        <input matInput [matDatepicker]="picker1" formControlName="Start_Date"
                                            placeholder="Choose Start Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                        <mat-datepicker #picker1></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>End Date</mat-label>
                                        <input matInput [matDatepicker]="picker2" formControlName="End_Date"
                                            placeholder="Choose End Date">
                                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                        <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <mat-label>Remarks</mat-label>
                                        <textarea matInput placeholder="Enter Remarks"
                                            formControlName="Remarks"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-center mb-2">
                        <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                            (click)="addTreatmentCode()">{{btntext}}</button>
                        <button mat-raised-button color="primary" class="ml-3"
                            [routerLink]="['/treatmentManager/treatmentCode']" type="button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>