<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form class="mt-3" [formGroup]="treatmentCategory">
                            <div class="row">
                                <!-- <div class="col-md-4 mt-3">
                                    <mat-label>Treatment Category Code</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input type="text" name="treatmentcategory" id="category" matInput
                                            placeholder="Enter Treatment Category Code"
                                            formControlName="Treatment_Category_Code">
                                    </mat-form-field>
                                </div> -->
                                
                                <div class="col-md-4 mt-3">
                                    <mat-label>Category Number</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput placeholder="Enter Category number"
                                            formControlName="Category_Number">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 mt-3">
                                    <mat-label>Remarks</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input type="text" name="remarks" id="remarks" matInput placeholder="Enter Remarks" formControlName="Remarks">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4 mt-3">
                                    <mat-label>Status</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select name="status" formControlName="Treatment_Category_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="text-center mb-3">
                        <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                            (click)="addTreatmentCategory()">{{btntext}}</button>
                        <button mat-raised-button color="primary" class="ml-3"
                            [routerLink]="['/treatmentManager/treatmentCategory']" type="button">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>