<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="treatmentMasterForm" class="mt-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Treatment Code</mat-label>
                                        <mat-select name="tcode" formControlName="Treatment_Code_ID"
                                            (selectionChange)="onTreatmentCodeChange($event)">
                                            <mat-option *ngFor="let code of treatmentCodeList"
                                                [value]="code.Treatment_Code_ID">
                                                {{code.Treatment_Code}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="full-width">
                                        <mat-label>Treatment Group</mat-label>
                                        <mat-select name="tgcode" formControlName="Treatment_Group_ID">
                                            <mat-option *ngFor="let group of treatmentgrouplist"
                                                [value]="group.Treatment_Group_ID">
                                                {{group.Treatment_Group_Code + ' - ' + group.Treatment_Group_Description}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <mat-label>Category</mat-label>
                                        <input type="number" name="category" id="category" matInput
                                            placeholder="Enter Category" formControlName="Category_Number">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <mat-label>Age(Minimum)</mat-label>
                                        <input type="number" placeholder="Enter Age in Years" name="age1" id="age1"
                                            matInput formControlName="Min_Age">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <mat-label>Age(Maximum)</mat-label>
                                        <input type="number" placeholder="Enter Age in Years" name="age" id="age"
                                            matInput placeholder="Max_Age" formControlName="Max_Age">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Treatment_Master_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 mt-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>X-Ray</mat-label>
                                        <mat-select name="tgcode" formControlName="X_Ray_Required">
                                            <mat-option *ngFor="let ray of xRay" [value]="ray.Value">
                                                {{ray.Text}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="full-width">
                                        <mat-label>Remarks</mat-label>
                                        <textarea name="remarks" id="remarks" matInput placeholder="Remarks"
                                            formControlName="Remarks"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="row mt-3">
                            <div class="col-md-3">
                                <mat-checkbox [checked]="treatmentMasterForm.get('Specialist_YN').value === 'Y'"
                                    (change)="onSpecialistChange($event)" [disabled]="urlText[3]==='view'">Specialist
                                </mat-checkbox>
                            </div>
                            <!-- <div class="col-md-3">
                                <mat-checkbox [checked]="treatmentMasterForm.get('X_Ray_Required').value === 'Y'"
                                    (change)="onXRayChange($event)" [disabled]="urlText[3]==='view'">X-Ray
                                </mat-checkbox>
                            </div> -->
                        </div>
                        <hr>
                        <h5 class="text-primary text-center pl-2 ml-3">Tooth Setup</h5>
                        <hr>
                        <div class="mat-elevation-z4 mt-2">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Tooth Code Name</th>
                                        <th>Select</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let tooth of toothCodeList;let i = index;">
                                        <td>{{tooth.Tooth_Code}}</td>
                                        <td>
                                            <mat-checkbox (change)="onToothSetupChange($event, tooth.Tooth_Code_ID)"
                                                [checked]="tooth.toothcodeId" [disabled]="urlText[3]==='view'">
                                            </mat-checkbox>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center mt-4 mb-2">
                            <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                                (click)="addTreatmentMaster()">{{btntext}}</button>
                            <button mat-raised-button color="primary" class="ml-3"
                                [routerLink]="['/treatmentManager/treatmentMasterSetup']" type="button">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>