<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <button mat-raised-button color="primary" class="ml-3" type="button"
                                (click)="addTreatmentPlanCategory()"
                                *ngIf="urlText[3] !='add' ||urlText[3] == 'view'">Add
                                Treatment Plan Category</button>
                        </div>
                        <form [formGroup]="treatmentPlanForm" class="mt-3">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-label>Plan Type</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-radio-group aria-label="Select an option"
                                        (change)="onTreatmentPnaTypeChange($event)" [disabled]="urlText[3]=='view'">
                                        <mat-radio-button [checked]="lchecked" value="1">{{option1 | uppercase}}
                                        </mat-radio-button>
                                        <mat-radio-button [checked]="uchecked" value="2" class="pl-3">
                                            {{option2 | uppercase}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-md-4 mt-2">
                                    <mat-label>Plan Code</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput type="text" name="planCode" id="plancode"
                                            placeholder="Enter Plan Code" formControlName="Treatment_Plan_Code">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label>Plan Name</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input matInput type="text" name="planName" id="planName"
                                            placeholder="Enter Plan Name" formControlName="Treatment_Plan_Name">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-label>Status</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <mat-label>Status</mat-label>
                                        <mat-select name="status" formControlName="Treatment_Plan_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <div class="text-center mt-4 mb-2">
                            <button mat-raised-button color="primary" type="submit" *ngIf="isDisabled"
                                (click)="saveTreatmentPlan()">{{btntext}}</button>
                            <!-- <button mat-raised-button color="primary" class="ml-3" type="button"
                                (click)="addTreatmentPlanCategory()" *ngIf="urlText[3] !='add' ||urlText[3] == 'view'">Add
                                Treatment Plan Category</button> -->
                            <button mat-raised-button color="primary" class="ml-3"
                                [routerLink]="['/dataManager/treatmentPlan']" type="button">Back</button>
                        </div>
                        <div *ngIf="treatmentPlan" class="mt-3 mat-elevation-z4">
                            <mat-tab-group mat-align-tabs="start">
                                <mat-tab label="Category Limit">
                                    <app-treatmet-plan-category
                                        [Treatment_Plan_ID]="urlText[3] == 'view' ? urlText[4] : urlText[3]">
                                    </app-treatmet-plan-category>
                                </mat-tab>
                                <mat-tab label="Treatment Group Limit">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <!-- <th>Treatment Group ID</th> -->
                                                    <th>Treatment Group Code</th>
                                                    <th>Treatment_Group_Description</th>
                                                    <th>Claim Limit</th>
                                                </tr>
                                            </thead>
                                            <ng-container *ngFor="let element of treatmentGrpList">
                                                <tr>
                                                    <!-- <td ngDefaultControl [(ngModel)]="element.Treatment_Group_ID">
                                                        {{element.Treatment_Group_ID}}
                                                    </td> -->
                                                    <td>{{element.Treatment_Group_Code}}</td>
                                                    <td>{{element.Treatment_Group_Description}}</td>
                                                    <td>
                                                        <mat-form-field>
                                                            <input type="number" name="claimLimit" id="limit" matInput
                                                                placeholder="Enter Claim Limit"
                                                                [(ngModel)]="element.Claim_Limit" value="Claim_Limit">
                                                        </mat-form-field>
                                                    </td>
                                                </tr>
                                            </ng-container>

                                        </table>
                                    </div>
                                    <div class="text-center mb-2">
                                        <button type="submit" mat-raised-button color="primary"
                                            (click)="addTreatmentGroupLimit()">Update Treatment Group
                                            Limit</button>
                                    </div>
                                </mat-tab>
                                <mat-tab label="Treatment Code Limit">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Treatment Code</th>
                                                    <th>Category Number</th>
                                                    <th>Treatment Group Description</th>
                                                    <th>Claim Limit</th>
                                                    <th>Rate Limit</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <ng-container *ngFor="let element of treatmentLimitList">
                                                    <tr>
                                                        <td ngDefaultControl [(ngModel)]="element.Treatment_Code">
                                                            {{element.Treatment_Code}}
                                                        </td>
                                                        <td>{{element.Category_Number}}</td>
                                                        <td>{{element.Treatment_Group_Description}}</td>
                                                        <td>
                                                            <mat-form-field>
                                                                <input type="number" name="claimLimit" id="limit"
                                                                    matInput placeholder="Enter Claim Limit"
                                                                    [(ngModel)]="element.Claim_Limit_Treatment_Limit"
                                                                    value="Claim_Limit">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field>
                                                                <input type="number" name="claimLimit" id="limit"
                                                                    matInput placeholder="Enter Rate Limit"
                                                                    [(ngModel)]="element.Rate_Limit" value="Rate_Limit">
                                                            </mat-form-field>
                                                        </td>
                                                        <td>
                                                            <mat-form-field class="full-width">
                                                                <mat-label>Status</mat-label>
                                                                <mat-select name="status"
                                                                    [(value)]="element.Treatment_Code_Status_ID">
                                                                    <mat-option *ngFor="let status of statusList"
                                                                        [value]="status.Status_ID">
                                                                        {{status.Status_Name}}</mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </td>
                                                    </tr>
                                                </ng-container>

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="text-center mb-2">
                                        <button type="submit" mat-raised-button color="primary"
                                            (click)="addTreatmentPlanCodeLimit()">
                                            Update Treatment Code Limit
                                        </button>
                                    </div>
                                </mat-tab>

                            </mat-tab-group>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>