<!-- <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)" class="nav-link"
  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
  {{item.displayName}}
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <app-menu-list *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </app-menu-list>
</div> -->
<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" class="nav-item"
  [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}">
  <a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)" class="nav-link">
    <mat-icon class="routeIcon">{{item.iconName}}</mat-icon>
    {{item.displayName}}
    <span fxFlex *ngIf="item.children && item.children.length">
      <span fxFlex></span>
      <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        expand_more
      </mat-icon>
    </span>
  </a>
  <div *ngIf="expanded">
    <app-menu-list *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
    </app-menu-list>
  </div>
</li>