<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{toptitle}}</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="cityMaster">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-label>City Name</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <input type="text" name="cityName" id="cityName" matInput
                                            placeholder="Enter City Name" formControlName="City_Name">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label>Choose State</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select name="state" formControlName="State_ID">
                                            <mat-option *ngFor="let state of stateList" [value]="state.State_ID">
                                                {{state.State_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-label>Status</mat-label>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select name="status" formControlName="City_Status_ID">
                                            <mat-option *ngFor="let status of statusList" [value]="status.Status_ID">
                                                {{status.Status_Name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <mat-card-actions class="text-center">
                            <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                                *ngIf="isDisabled" (click)="addCity()">{{btntext}}</button>
                            <button mat-raised-button color="primary" [routerLink]="['/city']"
                                style="margin-left: 15px;" type="submit">Back</button>
                        </mat-card-actions>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>