<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{toptitle}}</h4>
          </div>
          <div class="card-body">
            <form [formGroup]="masterTPAForm">
              <div class="row">

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>MasterTPA ID</mat-label>
                    <mat-select name="master" formControlName="Master_TPA_ID"
                      (selectionChange)="onMasterTPASelect($event)">
                      <mat-option *ngFor="let master of masterSetupList" [value]="master.Master_TPA_ID">
                        {{master.Master_TPA_ID }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Company ID</mat-label>
                    <mat-select name="company" formControlName="Company_ID">
                      <mat-option *ngFor="let company of companyList" [value]="company.Company_ID">
                        {{company.Company_Name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <!-- <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Treatment Plan ID</mat-label>
                    <mat-select formControlName="Treatment_Plan_ID">
                      <mat-option *ngFor="let plan of treatmentPlanList" [value]="plan.Treatment_Plan_ID">
                        {{plan.Treatment_Plan_Name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Benefit Plan ID</mat-label>
                    <mat-select formControlName="Benefit_Plan_ID">
                      <mat-option *ngFor="let benefit of benefitPlanList" [value]="benefit.TPA_Benefit_ID">
                        {{benefit.Benefit_Name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>Service Level</mat-label>
                    <mat-select formControlName="TPA_Service_Level_ID">
                      <mat-option [value]="1">1</mat-option>
                      <mat-option [value]="2">2</mat-option>
                      <mat-option [value]="3">3</mat-option>
                      <mat-option [value]="4">4</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="full-width">
                    <mat-label>New Master TPA ID</mat-label>
                    <input matInput placeholder="New Master TPA ID" formControlName="New_Master_TPA_ID">
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-4">
                  <button mat-raised-button color="primary" type="submit" (click)="generateNewMDTPAID()"
                    *ngIf="isGenerateDisabled">Generate</button>
                </div> -->
              </div>
            </form>
            <br />
            <mat-card-actions class="col-md-10 text-center">
              <div class="row">
                <button mat-raised-button color="primary" style="margin-left: 35%;" type="submit"
                  (click)="addMasterTPASetup()" *ngIf="isDisabled">{{btntext}}</button>
                <button mat-raised-button color="primary" [routerLink]="['/dataManager/master-tpa']"
                  style="margin-left: 15px;" type="submit">Back</button>
              </div>
            </mat-card-actions>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>